[2017-03-02 21:22] konvar opened #3 "Trakt scrobbler"
Hi! Great plugin! Can you make the plugin to work with Trakt.tv api?
Thanks!

[2017-03-03 05:31] DxCx commented on #3
Hey @konvar, thanks for the feedback!

i didnt know trakt holds anime as well. Cool!

I know whats needs to be done to add trakt support, however there is much work to do, and im very busy does days..

Ill leave the ticket open as if someone wants to add it and open a PR ill accept it with pleasure

If noone takes it i might do in the future, but kodi tracking is enough for my needs at this point.

[2017-03-23 15:25] beigelad opened #4 "9anime error"
Hey there, trying to use 9anime today but when ever I click on any of the series it just says 9anime error and doesn't let me proceed to the episodes :( other people have also reported this on reddit

[2017-03-23 16:14] DxCx commented on #4
Hey @beigelad!
Can you like people from the reddit to this issue?
Anyway, im not home atm, but will check it as soon as i can.. i used the plugin last night and it was just fine.
Thanks for the report :)

[2017-03-23 16:16] beigelad commented on #4
Thank you I will :D

[2017-03-23 21:00] beigelad commented on #4
Hi some users reported the issue maybe because they have changed their domain from
.to to .is? That could be an issue with it? :)

[2017-03-23 22:18] xanergy commented on #4
👍  many people are having the same problems we are having would be great if you could check it out :D

[2017-03-23 22:46] IceFireDude commented on #4
can report no errors for me but everything is blank

[2017-03-24 02:44] blunttedsmurf commented on #4
Ok figured it out. I looked at Fiddler to see what was happening. When you pull up your add-on the response for the pages say HTTP/1.1 302 Moved Temporarily. It says it has moved from HTTPS to HTTP. So I took your add-on apart changed the 8 instances you had https://9anime to http://9anime, then zipped it backup using Windows "Send to> Compressed Folder" and boom everything is running again.

Even

[2017-03-24 02:56] IceFireDude commented on #4
@blunttedsmurf  I would make a pull request if you can

[2017-03-24 03:10] blunttedsmurf commented on #4
Oh forgot to mention I took the https out of this line "http://%s/ajax/episode/info?id=%s&update=0" as well. It also said 302 Moved temporarily. If you don't do this the Open Load window that loads the videos sources just sits there.

@IceFireDude sorry I don't know what a pull request is.

[2017-03-24 03:12] beigelad commented on #4
Great stuff @blunttedsmurf! Hope @DxCx can make the adjustments soon :D!

[2017-03-24 03:19] IceFireDude commented on #4
@blunttedsmurf  lol ya np i am new to github as well here is a link on what it is https://help.github.com/articles/about-pull-requests/

[2017-03-24 06:02] IceFireDude commented on #4
@beigelad ya :)

[2017-03-24 22:40] Ichijoe2112 commented on #4
@beigelad  @DxCx I was able to resolve the issue (as described by Beigelad), by simply renaming Three instances of https for http.

The First One is located on Line 8 of: plugin.video.9anime-maste\resources\lib\NineAnimeBrowser.py

The other Two were inside plugin.video.9anime-master\resources\lib\ui\embed_extractor.py on Line 191

[2017-03-24 22:41] DxCx commented on #4
oh wow sorry didn't know there is so much attraction over that :)
anyway, I'll look at the shortly had a crazy couple of days

[2017-03-24 22:46] beigelad commented on #4
Thank you! ^-^

[2017-03-24 22:48] DxCx commented on #4
im not sure, from what i can see 9anime (website) is not reachable atm,
getting 502 via cloudflare.. :(
am i the only one?

[2017-03-24 22:52] beigelad commented on #4
@DxCx have you tried 9anime.is ? That one is working for me!

[2017-03-24 22:54] DxCx commented on #4
yep, had some tests, for me at least, all https:// is just dead,
and over http only .is is working..
expect a fix soon ;)
thanks for all the pointers everyone

[2017-03-24 22:57] IceFireDude commented on #4
@DxCx yay can not wait for a fix :)

[2017-03-24 22:57] beigelad commented on #4
@DxCx thanks for fix will let ppl at reddit know :3

[2017-03-24 23:14] DxCx commented on #4
Ok, so domain issue is resolved. please download master .zip and try it
let me know how it goes ;)

P.S

I've found that OpenLoad probably did some change on thier site,
so OpenLoad sources are not supported ATM, on that i'll look tomorrow

[2017-03-24 23:44] IceFireDude commented on #4
@DxCx  confirm it is not blank anymore. although trying to watch anything it is just stuck processing openload. ik you said that does not work but the shows I am testing has other servers with it. so not sure what is happening

[2017-03-25 00:04] DxCx commented on #4
stuck on overload? it just fails and skip it here.
maybe the specific thing you are trying to watch has wiired openload links?
anyway, openload is for tomorrow

[2017-03-25 00:12] IceFireDude commented on #4
@DxCx ya it will not skip it its just stuck at fetching sources processing openload then errors out when I click cancel. and alright I will be looking forward to it :)

[2017-03-25 00:15] DxCx commented on #4
@IceFireDude try after this patch now ;)

[2017-03-25 00:15] DxCx commented on #4
their http endpoint is on and off which confuesed me,
anyway, openload is disabled now so it should just skip

[2017-03-25 00:20] IceFireDude commented on #4
@DxCx you are going to be annoyed but now it will not install on kodi lol

[2017-03-25 00:37] DxCx commented on #4
@IceFireDude uninstall and reinstall? :O
why wouldn't it be installed?

[2017-03-25 00:40] beigelad commented on #4
@DxCx @icefiredude mine is working fine! :) uninstalled previous one and installed new one :D works like a charm!

[2017-03-25 00:46] IceFireDude commented on #4
@beigelad it is working with the newest update? cause when I download the new zip amd try to install it on kodi I get a error

[2017-03-25 00:48] beigelad commented on #4
@icefiredude yeah dude same update as 34 mins ago! Try restart your kodi and delete any other instances of downloaded zip files of previous ones etc :)

[2017-03-25 00:48] IceFireDude commented on #4
@beigelad ya I will delete it and restart kodi and my fire tv ill brb

[2017-03-25 00:54] IceFireDude commented on #4
@beigelad ok now it left me install it lol thanks never had that problem before darn it kodi :-P  and looks like it is going fast now that openload is disabled :)

[2017-03-25 00:56] beigelad commented on #4
@icefiredude let the Anime binge begin :p! Thanks again @dxcx

[2017-03-25 01:12] IceFireDude commented on #4
@beigelad ya! and ya @DxCx you the man

[2017-03-25 09:42] DxCx opened #7 "OpenLoad source is Broken"
Continuation of #4.

[2017-03-25 09:42] DxCx commented on #4
Cool happy to hear that :) then i'm closing this as domain issues are resolved
and i've opened new ticket for OpenLoad issue only.

thanks for the feedback guys! 👍

[2017-03-25 09:43] #4 closed

[2017-03-25 14:08] #7 closed

[2017-03-25 14:13] DxCx commented on #4
@IceFireDude @beigelad version 0.0.2 is now released with OpenLoad fix as well 👍

[2017-03-26 21:48] dogbowl opened #10 "Advance to next page of results on fire tv?"
Hi!  This is a great addon.  I just have one issue.  I have it installed to fire tv, and I'm only seeing 30 results when browsing genres.  Is this just one page of results, and if so, is there a way to advance to the next page?  I tried every button on the remote and I can't find a way.

Thanks!

[2017-03-27 04:57] DxCx commented on #10
Thanks for the support :), Last item on the list should be 'Next Page'

[2017-03-27 14:26] dogbowl commented on #10
Thanks for the reply!  I see 'next page' at the bottom of Latest and Newest, but not inside individual genres. They just show 30 results without 'next page' at the bottom.  Thanks again!

[2017-03-27 14:32] DxCx commented on #10
Oh, because Generes does not have next page, all the geners are there, or you mean the anime list inside a genere?
can you take a screenshot..? (Drag it to GitHub reply box will upload it)

[2017-03-27 16:42] dogbowl commented on #10
I mean the anime list inside of a genre.  For example, only 30 results show up in Action, and there's no 'next page' at the bottom.  I assume there should be more than 30 Action anime?

I will get a screenshot after work.  :)

[2017-03-27 20:45] DxCx commented on #10
well, no i am home and i was actually able to see it, so yeah it will be fixed (Not today, but i'll take care of it)
Thanks alot for the bug report @dogbowl , will update here.

[2017-03-27 21:05] #10 closed

[2017-03-27 21:06] DxCx commented on #10
Hey @dogbowl ,
that was pretty easy fix eventually, you can redownload zip from master and it should work.
please reopen if it does not :)

[2017-03-27 21:09] DxCx opened #12 "TODO: need to add proper pipeline"
Need to add support for travis to run unittests for PRs.

[2017-03-27 21:21] dogbowl commented on #10
Thank you so much!

[2017-03-30 02:39] IceFireDude opened #14 "9anime blank again"
it is doing what it did before and being blank again. when you click anything it is blank but if you click genre it lets you pick one but then no anime shows up just blank with a next page at the bottom. was working a few mins ago

[2017-03-30 03:48] kilozz commented on #14
came here to say this, unfortunately. might be the site's structure that updated.

[2017-03-30 04:08] IceFireDude commented on #14
@kilozz hopefully the fix is the same as last time. Maybe there should be two versions of the 9anime addon one for each domain so if one goes down or changes the other will still be strong. but idk I do not make kodi addons wish i did though lol

[2017-03-30 08:13] DxCx commented on #14
Hey,
so yeah, there was a site update, i've fixed the indexing so anime is showing,
but looks like only Server 1 is being parsed as source, so i want to fix them all togather.

[2017-03-30 08:13] DxCx opened #16 "Openload is broken again"
Related to site update of #14

[2017-03-30 08:14] #14 closed

[2017-03-30 08:15] DxCx commented on #14
I've Merged the patch for indexing so we can use the plugin in the meanwhile,
you can test it, i'll take care of sources parsing over the weekend probably.

[2017-03-30 08:16] DxCx commented on #14
@IceFireDude - `Maybe there should be two versions of the 9anime addon one for each domain so if one goes down or changes the other will still be strong`
the website html slightly changed, 2 plugins won't help you here .. :)

[2017-04-01 02:35] kilozz opened #17 "Recently Watched"
Hi, can you add a folder to the start page of the addon that lists the animes you're watching? that would be great since i usually don't remember the names of some animes.

[2017-04-01 02:37] #17 closed

[2017-04-01 02:37] kilozz commented on #17
nevermind

[2017-04-01 06:55] DxCx commented on #17
You can rightclick and then add to favorites :)

[2017-04-03 16:23] L4MI4 opened #18 "9anime not working on 16.1"
Sorry if this has been addressed before, but me and a friend on reddit have been experiencing the same problem. The plugin stopped working on 16.1 4-5 days ago. Just before it was updated. Also, installing the newer version nets the same error. Choosing any option like Latest or Genres or  Newest anime generates a 9anime error. Seems to be a python related issue. Im posting the relevant log detail

[2017-04-04 04:29] DxCx commented on #18
Hey @L4MI4
Are you using latest code at master?

[2017-04-04 13:38] L4MI4 commented on #18
Hi. Kind of a noob so not sure what you mean. If you mean using the latest zip, then yes, I am.

[2017-04-04 13:42] L4MI4 commented on #18
Also, would like to share that it is working fine in Krypton which i have in my other device but not on jarvis. I can't update that 16.1 to 17.1 due to it only having kitkat. And the other friend has a similar situation, but his 17.1 is unstable as hell. So only stuck on 16.1. Was working perfectly fine till the day I think the openload problem resurfaced. When the newest zip was released, still d

[2017-04-04 22:30] DxCx commented on #18
well,
"An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS"
that's a pure kodi issue,
Kodi started to support SNI (SSL Extension which 9anime uses) only since kodi 17..
ref: http://trac.kodi.tv/ticket/15883

[2017-04-04 22:57] L4MI4 commented on #18
Ah. Thanks for clearing that up. So I guess I have to watch it on another device. Will share it to the other redditor too. Thanks:) Should I close it now?

[2017-04-04 23:13] L4MI4 commented on #18
One more thing. The other redditor has I think some other problem now. His log says error:inputstream: error opening plugin instead like mine. One thing is very weird though, why did it stop working just a few days ago? Did 9anime started using SNI just now?

[2017-04-05 06:38] DxCx commented on #18
Nope, but they started force ssl (through the link they are referring to) On the watch page..

[2017-04-05 14:59] L4MI4 commented on #18
Ughh.. Well then I guess I'm closing the issue. Thanks for looking into the issue.

[2017-04-05 14:59] #18 closed

[2017-04-09 06:30] ninjaskija opened #19 "not finding sources"
Trying to watch Attack on Titan season 1 ep 01. The addon is not finding any viable source to play. Streaming from the browser is ok from any source (Server F1\F2, Openload). Episode 2 is working fine from the addon.

[2017-04-16 05:28] ISSUES999 opened #20 "working for older versions of kodi?"
can it work for kodi 14/15/16 ?????
can you make this changes ??
thanks , have a nice day.!!

[2017-04-16 08:48] DxCx commented on #20
Hey

Kodi < 17 doesnt support SSL SNI extention which is required for accessing anime9 servers.

The only 'real' solution is to create a proxy server which the plugin will work with, however this will require monthly donations and i really dont want to charge people for using the plugin.. :/

[2017-04-27 19:45] tugkan98 opened #21 "It doesnt work for me"
Hello. When I click lates, genres , newest or search it says error.
I got the log. Maybe you can help.
https://ares-project.uk/logupload/log.php?id=1544886

[2017-04-29 18:04] DxCx commented on #20
No response for 2 weeks.

[2017-04-29 18:04] #20 closed

[2017-04-29 18:06] DxCx commented on #21
Hey,
this is the issue:
`SNIMissingWarning: An HTTPS request has been made, but the SNI`

for more info, look at the duplicate #20,
I'm gonna close this as this is duplicate but feel free to response =)

[2017-04-29 18:06] #21 closed

[2017-05-02 13:51] DxCx commented on #16
To fix Openload i'll need to run openload javascript inside a sandbox.

[2017-05-03 13:58] xanergy opened #22 "9 anime kodi not working."
Whenever I try to load an anime it says too check the log for error or issues. Please help all my other kodi add-ons work perfectly. Thanks for the help.

[2017-05-03 22:40] DxCx commented on #22
which kodi version are you using?
can you provide some logs?
i've watched an episode and it worked totally fine...
also, was it working there before?

[2017-05-03 23:04] xanergy commented on #22
Im using krypton on fire tv kodi17. 0. I have no idea how to find the logs but I would provide them if I can. And yes it was working before perfectly fine.

[2017-05-04 01:04] blunttedsmurf commented on #22
Xanergy check the version 9anime you are using. I was using the first version and got the same message. After installing version 2, everything works.

[2017-05-04 01:10] xanergy commented on #22
How do I install version 2? I have updated the most i can. Do I have to reinstall and if i do can u provide the download link?

[2017-05-04 05:40] DxCx commented on #22
hi @xanergy ,
can you try completely remove the addon from your kodi and reinstall the latest zip:
https://github.com/DxCx/plugin.video.9anime/archive/master.zip?

[2017-05-04 11:19] xanergy commented on #22
Thank you guys for the help will try when I get home.

[2017-05-04 22:23] DxCx commented on #22
thanks, please let me know how it goes :)

[2017-05-05 14:35] xanergy commented on #22
Ok I did not change a single thing and it started working again. Thanks for the help and sorry for the trouble I still have no idea what the problem was, again sorry for the inconvenience. The problem was probably just do to my ignorance or something.

[2017-05-05 16:00] xanergy commented on #22
Ok well it just decides when it wants to work right after watching am episode it gave me am error again on kodi fire tv fml.

[2017-05-06 09:25] DxCx commented on #22
well, sometimes when 9anime servers are flooded they take down sources..
then you might have no sources errors at some times of the day.

[2017-05-06 14:22] xanergy commented on #22
For most of the day those sources are down :(

[2017-05-10 07:19] imeri opened #23 "[REQ] Login to 9anime"
Is it possible for the next release to be able to login to 9anime and get the watchlist bookmarks?
Thanks..

[2017-05-10 23:31] DxCx commented on #23
hey @imeri
i don't have much time to work on the addon those days, but that's sounds like a cool suggestion,
i'll keep it open and hopefuly someone can pick this up or i'll do it eventually when i have the time :)

[2017-05-10 23:35] DxCx commented on #22
not here, at least not on my timezone when i watch..

anyway, there are some things i need to fix to make it be able to reach more sources
but it will take me some time to get to it.. at the moment only 1 source out of the 3 possible is reachable until i have time for it unfortunately..

if it cheers you up i really want to fix it since i want better sources too you know

[2017-05-10 23:35] #22 closed

[2017-05-13 14:02] jtipt opened #24 "search function not working"
I tried searching several animes, the search function returns nothing. I am using kodi 17, and it was working perfectly fine till yesterday.

[2017-05-13 14:06] Dranzera commented on #24
For me the anime episoded say that there's no source so they can't open.

[2017-05-13 14:46] Dranzera opened #25 "Anime episodes aren't working"
This morning when I click on any anime episodes it says that there are no sources so it can't open. It worked last night.

[2017-05-13 16:25] hoppler commented on #25
i fixed it by editing def load_video_from_url(in_url): in resources/lib/ui/embed_extractor.py to

    def load_video_from_url(in_url):
        try:
            print "Probing source: %s" % in_url
            reqObj = http.send_request(in_url)
            page_content = reqObj.text
            url = reqObj.url
        except http.URLError:
            return None # Dead link, Skip result
        ex

[2017-05-13 17:10] DxCx commented on #25
@hoppler can you please open a PR?
just seen this issue but if you fixed it why not :)

[2017-05-13 17:59] Dranzera commented on #25
Thank you very much it works now 😁.

[2017-05-13 18:37] DxCx commented on #25
yeah i was trying to reproduce and saw it's working,
i think the site was temporarly down or something..

[2017-05-13 18:37] #25 closed

[2017-05-13 18:37] DxCx commented on #24
hi @jtipt is it still not working?
i think the site was temporarly down..

[2017-05-14 09:37] xXFearTheGuestX commented on #24
I can confirm also being unable to use the search function. I know this was working two days ago, but now it won't search anything

[2017-05-14 14:06] Dranzera commented on #25
It says the same thing today again 😕.

[2017-05-14 14:21] devilex94 commented on #24
Getting "Couldn't find eliable sources" while playing
Attached log file for you
[kodi.log.txt](https://github.com/DxCx/plugin.video.9anime/files/999425/kodi.log.txt)

[2017-05-14 14:35] JinKudo commented on #24
^pretty much this. happens a lot btw. usually works again if you restart kodi but today it seems to be completely broken. tried several reboots but not working

[2017-05-14 16:10] hoppler commented on #24
Hi,

the issue is, that 9anime wants a cookie for the api request containing a "reqkey=e416ee206e6f4f21797ae9a65f11234". otherwise we wont get the source urls for the videos. but i havent found a way to get this cookie

[2017-05-15 06:36] jtipt commented on #24
@DxCx I checked again today, and no the search is still not working. I don't think the site was temporarily down as I checked right now its up.

[2017-05-15 08:23] imeri opened #28 "[RIP] I believe I find a ripoff off your plugin"
As the title says..

http://whyingo.org/how-to-install-cypher-locker-repository-kodi-17-1-krypton/

I compared the files and it seems to be identical just the parts where it was ur name on it is changed to Cypher's..

Also, default.py files in his/hers version is encrypted with base64

![1](https://cloud.githubusercontent.com/assets/9384098/26048683/7fffc766-3958-11e7-9f53-a92dd9a62866.png)
![2](h

[2017-05-15 08:30] hoppler commented on #28
those things will always happen. look at his font for his logo...^^

[2017-05-15 08:50] imeri commented on #28
I'm aware of those things are happening, just wanted to inform DxCx..

[2017-05-15 08:58] DxCx commented on #28
hmm thanks @imeri !
im just not sure what is Cypher and if this duplication is just a duplcation or they injected some malware inside :(

[2017-05-15 09:31] DxCx commented on #24
@hoppler and @devilex94  i was aware of this cookie, but not all sources requests it (only F2)
anyway, thanks to @githubus11 looks like the fix for F2 sources is closer :)

about the search itself, i tried to check it now again, but the site is not responding even through the browser, I'm not sure what's happening there, which URI are you trying to reach 9anime trough?
i'm trying both 9anime.to &

[2017-05-15 09:36] DxCx commented on #28
oh my, now i got it, this guy is distributing his own flavor of Kodi and decided to showoff 9anime as his plugin instead of using the proper one..
so sad to see people ruining the opensource community..

[2017-05-15 09:49] imeri commented on #28
@DxCx, that was exactly what I was trying to say.. :)

I'm unable to decode the python base64, cuz I'm at work, will try to later to see if there is anything else hidden inside.

[2017-05-15 10:11] DxCx commented on #28
Thanks @imeri please let me know what you find.. :)

[2017-05-15 10:12] DxCx commented on #24
ok site is back, and i can finally see the search broken issue..
will try to see what's going on..

[2017-05-15 10:22] DxCx commented on #24
ok, so the site responds with `please make sure your browser supports cookie then try again`
which means that the same known tokens issue 👍
#27 should close that as well =)

[2017-05-15 10:54] EremesGuile commented on #24
Good luck @DxCx . Will wait patiently for the fix. :+1:

[2017-05-15 11:01] imeri commented on #28
Nothing suspicious.. He just hide the code.

![untitled](https://cloud.githubusercontent.com/assets/9384098/26054837/7ad2214c-396e-11e7-9a91-459adc07d6f8.png)

[2017-05-15 11:43] DxCx commented on #28
yep so that's just stealth, not as harmful as i thought but still that's not the way opensource should go.. i think the best way to tackle this at the moment is to add a warning on README.md or something..

[2017-05-15 11:59] imeri commented on #28
Yea, I assume that will be the the best option for now.

[2017-05-15 13:39] #28 closed

[2017-05-15 16:20] #24 closed

[2017-05-15 16:21] DxCx commented on #25
@Dranzera can you download latest zip and retry?

[2017-05-15 16:22] DxCx commented on #24
hey guys, please download latest .zip and retry with it,
should be working now thanks to @githubus11

[2017-05-15 16:26] devilex94 commented on #24
It's working now :D
Thanks @DxCx @githubus11

[2017-05-15 16:35] Dranzera commented on #25
Thanks wil do once I get home, I'll let you know if it works.

[2017-05-15 21:31] Dranzera commented on #25
It works now thanks!

[2017-05-16 00:35] zenakuadevent opened #31 "9Anime Kodi Addon( i am new user to it)"
Anyone know how to install 9anime onto kodi using a firestick tv. i am about to get one and i want to know how to install it. i was reading how to install it and it says download the zip, but does that mean i have to use the downloader app to download it then install? because i use to seeing people using add source and this say download zip so that the part i am confused about @_@ . if anyone can

[2017-05-16 02:33] tinymovingparts commented on #31
download this zip file with downloader
https://github.com/DxCx/plugin.video.9anime/archive/master.zip
dont open just download and close
than install from zip in Kodi. It will be in: external storage -> Downloader
also it must be version Krypton if I'm not mistaken.

[2017-05-16 04:13] zenakuadevent commented on #31
Thanks you sir or madame!
suck my firestick wont be here till  the 31st.  but thank you again for explaining it!

[2017-05-16 05:58] DxCx commented on #31
hey @tinymovingparts thanks!
want to open a PR to update README.md with how to install on firestick?

[2017-05-16 06:46] jtipt commented on #24
Its working now.
Thanks, @githubs11 and @DxCx for fixing this fast.

[2017-05-16 15:39] tinymovingparts commented on #31
@DxCx sure , I'll get on once I get home.

[2017-05-16 16:17] DxCx commented on #31
cool thanks! =) this is not the first time i see questions about firestick and i don't have one :S

[2017-05-16 17:01] tinymovingparts commented on #31
@DxCX its no problem, I think the initial step of installing the zip is what intimidates most firestick users since its the one step that is outside of Kodi and it involves knowing a little more about where files are stored in the stick. however I'm new to github and not sure how to open a PR. here is the step by step for you if you want to post it in the readme:

This step by step guide is for le

[2017-05-16 18:35] DxCx commented on #31
thanks @tinymovingparts ,
i can just paste it myself but if you want to learn how to open a PR i'm totally in for helping you =)
this kind of a small PR you don't even have to open a console or pull the code you can do it straight from github?
are you into learning or i'll just place it myself?

[2017-05-17 01:08] tinymovingparts commented on #31
@DxCx thanks, I could go for learning a thing or two. how does it work.

[2017-05-17 05:15] roafhtun commented on #31
Thanks my fav

[2017-05-17 05:45] roafhtun commented on #31
I think someone should host the files so it'll be easier to receive updates directly from kodi

[2017-05-17 06:16] DxCx commented on #31
hmm alright @tinymovingparts,
so, basiclly, you want to open a the file you want to edit:
https://github.com/DxCx/plugin.video.9anime/blob/master/README.md
then press on 'edit this file' (top right)
now, you have 2 modes, Markdown and preview, and you can modify the file
finally on Commit changes, select you want to create a new branch
and then it should create a branch and open a PR window..

@ro

[2017-05-18 03:58] tinymovingparts commented on #31
@DxCx thanks, still a little confused I'll let you handle it.

[2017-05-18 04:01] tinymovingparts opened #32 "stuck on loading circle"
when selecting any of the options: Latest, Newest, Genre, and Search I've been getting stuck on the loading circle. I also have episodes on my favorites same issue when trying to open them. the circle spins then stops than starts to spin again. Any idea whats going on?

[2017-05-18 05:37] DxCx commented on #31
thanks @tinymovingparts
just merged #33 :)

[2017-05-18 05:37] #31 closed

[2017-05-18 05:37] DxCx commented on #32
Sounds like no internet connection?
just did a small test here, everything looks functional..

[2017-05-18 16:06] tinymovingparts commented on #32
internet was connected but still didn't work. Up and running find today must of been a glitch with the site or something. Thanks!

[2017-05-18 20:11] nerotix opened #34 "OSMC Nothing shows up"
Just installed it on latest OSMC release when I open 9anime, and for example go to latest, nothing shows up.. all i see is "Next Page (2/246). That's all. Am I doing something wrong here? As I've changed nothing.

[2017-05-19 07:31] justin89h opened #35 "LibreELEC Krypton ERROR: EXCEPTION Thrown (PythonToCppException)"
Great plugin :) I really appreciate the work you've put into maintaining this. So many other streaming anime plugins have been failing lately.

I have the latest version of your plugin installed on LibreELEC on the RaspberryPi 3 Model B. I have started receiving a couple occasional errors since the TokenDecoder update.

1. The plugin fails to load, and has to be restarted (The error shown in the t

[2017-05-19 08:47] DxCx commented on #32
cool! 👍

[2017-05-19 08:47] #32 closed

[2017-05-19 18:50] Dranzera opened #36 "can't find eliable sources"
Hey there it says can't find eliable sources again is the site down?

[2017-05-19 22:57] Dranzera commented on #36
Works again! Thanks 😊.

[2017-05-20 04:36] rbz205 commented on #36
I am having the source issue stated above. I notice some animes work while other have the issue.

Thanks in advance!

[2017-05-20 05:09] DxCx commented on #34
hi @nerotix as far as i know OSMC runs Kodi 17 which means it should work,
can you provide more details? maybe kodi's log file?

[2017-05-20 05:20] DxCx commented on #35
hey @justin89h,

The issues you are seeing indeed related to Token thingy,
the decoding algorithm has some usecase that it's not handling right,
however, since it do work 90% of the times, i decided to release it to let people enjoy the anime,

if the first issue mentioned is really caused by the error in the log then it's the same issue happens to you on 2ed bullet.

regarding memory leak mention

[2017-05-20 05:21] DxCx commented on #36
@rbz205 what happens if you retry right after?

[2017-05-20 05:35] rbz205 commented on #36
The ones I got to work were retries or worked first time lol. There are some animes where multiple retries still gave me either an error log message or cant find eliable sources.

[2017-05-20 05:41] justin89h commented on #35
Hey, thanks for the quick reply. If you already know about it that's great :) Hopefully the info I provided will assist a little when you get time to fix it.

Definitely the right call to release it early as it works 90% of the time. Thanks. :)

[2017-05-20 08:57] DxCx commented on #36
cool @rbz205 thanks for the report,
can you please give me an example of such anime so i can debug it?

[2017-05-20 09:53] githubus11 commented on #35
added unicode_support for tokens so it shouldnt fail because of tokens anymore

another non token related issue is, that crawling of f1 und f2 urls is sometimes too fast and the server will respond with 503 and some silly text. tried forced delays and retries in my code but it didnt work reliably.

[2017-05-20 12:17] JinKudo commented on #36
Koe no katachi

[2017-05-20 15:10] DxCx commented on #36
Thanks @JinKudo i'll try to debug it and report back
i was able at initial test to see it's indeed acts wired.

[2017-05-20 15:16] rbz205 commented on #36
@DxCx I have not tried it this morning, but yesterday night Eromanga sensei worked about 50 % of the time.

Rokudenashi Majutsu Koushi to Akashic Records, Koe no katachi, Gabriel DropOut, and Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka Gaiden: Sword Oratoria (subs) were having issues.

[2017-05-20 15:53] rbz205 commented on #35
@justin89h How did you get the "Anime" Left menu option? That looks pretty cool. Thanks in advance.

[2017-05-20 16:16] justin89h commented on #35
@githubus11 Sounds good, thanks heaps for working on it :) It's great that you're helping with this plugin. I'll use the new version over the next couple days and let you know if all goes well

@rbz205 I modified the original Estuary files pretty heavily but you can achieve a similar look a lot easier with use of Estuary Mod: forum.kodi.tv/showthread.php?tid=267343
If you'd rather modify Estuary y

[2017-05-20 20:03] githubus11 commented on #35
Hi,

played with the Estuary mod and got token parsing errors even after last fix. looked into it and found it. made a pullrequest. the next time it fails, youll see the complete token in kodi.log which you can post in here for debug purpose

[2017-05-20 20:57] DxCx commented on #35
Alright @justin89h, @githubus11's patch just got merged, can you please give it a try by downloading the zip again and install it over?

[2017-05-21 02:01] justin89h commented on #35
Alright, tried my best to break it for half an hour this morning with no success, so all looks good at this stage. Good work! We can close this issue now if you like and I'll open up a new one if errors appear again

[2017-05-21 11:50] p1wookie commented on #36
I've been having this issue for a couple weeks. Main ones I watch are Shingeki no Kyojin season 2 and Dragon Ball Super (dub)

[2017-05-21 12:16] p1wookie commented on #36
Disregard previous comment. I saw you updated. Uninstalled old then downloaded and installed new one. Working again.

[2017-05-21 15:01] Dranzera commented on #36
Also SD Gundam Gaiden says error log too.

[2017-05-21 15:53] bokkoman opened #40 "Does not work"
I'm on spmc (kodi 16). Installed this addon, but just gives errors when everything anything.

[2017-05-21 15:53] bokkoman commented on #40
When entering anything

[2017-05-21 16:50] hoppler commented on #40
only works with kodi 17 or later as 9anime needs ssl which is not available in kodi 16

@DxCx How about a requirement on the plugin itself and a big readme update for kodi 17 or above (dunno how to do it)

[2017-05-21 20:04] DxCx commented on #36
Guys i think i got enough examples, thank you all =)
my problem now is time 👍
i'll try to find some time during the week to look at those and update you

[2017-05-21 20:09] rbz205 commented on #36
PS: I noticed you updated on another issue post and installed the new version. Now the addon seems to be working without​ issues on my part.

Maybe a website issue or the new version works better?

Thanks for all the work btw. I love the ability to watch shows in Kodi.

[2017-05-22 03:42] DxCx commented on #36
@rbz205 Are the animes mentioned above are working now?
When i tried 'Koe no katachi' with latest it still havnt worked

[2017-05-22 03:57] rbz205 commented on #36
Yes, it seems to be working for me (including Koe no Katachi). I am using Kodi 17.1 on Nvidia Shield Tv.

I just deleted my old addon and installed the new zip.

[2017-05-22 05:02] DxCx commented on #36
Cool thanks for the report, will retry myself and close the issue if its
indeed working :)
On Mon, 22 May 2017 at 6:57 rbz205 <notifications@github.com> wrote:

[2017-05-22 21:09] githubus11 commented on #36
found two other possible issues:

first: if we request the sources of a video too fast, we will get a 503. (thats one of the reasons why you get sometimes a full list of possible servers and the other time you just get one)

second:
if a F1 or F2 is not available the program raises an exception and possibly get no source at all

i made a pushrequest to workaround those errors

[2017-05-23 20:32] LukiasSenpai opened #41 "Episodes not Working"
All recently added videos in the latest update dont seem to be working properly. I get to chose my video to watch then it gives me the playback failes error message

Thanks for all the great work though

[2017-05-23 20:38] githubus11 commented on #41
It seems that F1 server is unstable right now. as the current version crashes if a video is offline, you wont see sources and get an error message. already made a pullrequest to fix this. you could make a specific example (name and epsiode) of a stream that wont work, so i can test it with my patched version.

[2017-05-23 22:06] DxCx commented on #36
alright guys so thanks to @githubus11 who debugged this, it should be working now,
you are welcome to try it and report back (don't forget to reinstall the .zip)

[2017-05-23 22:07] DxCx commented on #40
yeah, thanks @hoppler can you open such a PR? :)

[2017-05-23 23:47] #41 closed

[2017-05-24 08:18] DxCx commented on #35
cool thanks @justin89h for reporting back and @githubus11 for fixing =)

[2017-05-24 08:18] #35 closed

[2017-05-24 15:28] hoppler commented on #40
done #43

[2017-05-24 15:55] DxCx commented on #40
Thanks @hoppler

[2017-05-24 15:55] #40 closed

[2017-05-24 17:04] hoppler opened #44 "Repository for plugin"
Hi,

i have a repo mostly ready for this plugin. please create a new release so i can link to it and update all files in the repo.
after i updated it ill create a branch for you which you can than fork and maintain as you only have to upload the new release.zip into a folder and update a version number. (its pretty easy)

[2017-05-24 17:53] hoppler commented on #44
Created a branch for you. fork the https://github.com/hoppler/repo.plugin.video.9anime/tree/dxcx-repo branch and that should be it. i used the master of the plugin as version 0.0.3

[2017-05-24 20:06] DxCx commented on #44
oh wow thanks,
yeah i wanted to release a version once i see all the open reports are closed and verify.

i think that eventually we should add a travis to build a versioned number and push to this repo =)

[2017-05-24 20:48] DxCx commented on #34
@nerotix any details please? is it working now using the latest version?

[2017-05-24 21:13] pinay26 commented on #36
Still not working on some episode .. example--  b gata h kei (dub) episode 1

[2017-05-24 21:18] hoppler commented on #36
Hi, reason is simple. file not online. if you goto 9anime directly youll se you get server error for f1 and f2. so no error on the plugin side

[2017-05-24 21:18] pinay26 commented on #36
and also b gata h kei (sub) episode 1 give spurce server F2 but none of the links work ar just maybe f2 server has problems

[2017-05-24 21:22] pinay26 commented on #36
@hoppler i see.. does the addon only gets the f1 and f2 links? coz the openload links seems to be working when i use a browser

[2017-05-24 21:24] hoppler commented on #36
openload is disabled currently as we dont have a parser for them. so the addon only gets f1 and f2

[2017-05-24 21:48] Dranzera commented on #36
Yugioh season 0 and Dragon Ball Super not working either since thisthis morning.

[2017-05-24 22:59] githubus11 commented on #36
9anime seems to be overloaded. but i found another issue as the f1 returns a grabber url with a paramter inluded. `grabInfo['grabber'] sometimes ends with /?server=23 so we have to concat with & instead of ?`

ill wait for 9anime to overcome the overload issue and will test it afterwards. but above is the reason why you sometimes dont get sources from f1

[2017-05-25 00:17] roafhtun commented on #36
Could be cuz server is overload, I'm having the same problem today it's been like 3 hrs

[2017-05-25 12:26] nerotix commented on #34
@DxCx Sorry mate, been busy with college for the last couple of days. But I just downloaded the latest and installed it, works flawlessly! You have like the best anime plugin for Kodi/OSMC etc.. even the search functions works properly. Thank you so much dude!

[2017-05-25 12:38] DxCx commented on #34
Thanks! Couldnt done it without the support of the community :)

[2017-05-25 12:38] #34 closed

[2017-05-25 13:03] DxCx commented on #36
@githubus11 just contributed one more fix :)
let me know where you still see issues.. ;)

[2017-05-25 13:11] jtipt commented on #36
@DxCx Nope, now it just shows "load xx server" then nothing happens, the sources do not appear.

[2017-05-25 13:38] hoppler commented on #36
always check 9anime itelf if its working as for me 9anime still has server issues like no F2 and partial working F1. also please provide more information like the title and the episode so we others can look further into it.

[2017-05-25 15:50] DxCx commented on #36
thanks @hoppler 👍

[2017-05-25 15:56] githubus11 commented on #36
After lookin into urlresolver we have the possibility to use openload too. it requires that the plugin https://github.com/tknorris/script.module.urlresolver is installed. if you have xstream it will get installed automatically. as i dont know right know how to install it with the plugin i cant provide a usefull patch for it. **if you have urlresolver installed** you can do the following to use ope

[2017-05-25 16:04] DxCx commented on #36
@githubus11 we can provide urlresolver using our new repository at #44
why not opening a PR?

[2017-05-25 16:06] DxCx commented on #44
hey @hoppler, i have another anime plugin at https://github.com/DxCx/plugin.video.animeram
we can also add it to the repository.. :)

[2017-05-25 16:10] hoppler commented on #36
@DxCx please fork it (use the branch i made for you), as i wont maintain it. i was just doing the research but its for you to maintain it as i said in #44

[2017-05-25 16:31] nerotix commented on #34
@DxCx it seems I was too quick to respond.. the problem I mentioned is solved indeed. However, everything that I try to play gives me an error "couldnt find eliable sources" or something like that.. also I sometimes get an error when trying to play something "9anime error check logs for more information". Would u like me to upload the logs?

[2017-05-25 17:16] nerotix commented on #34
@DxCx Now I installed latest update again and that error is gone and I can pick a server.. however when i for example select I get a "Playback failed.. One or more items failed to play. Check the log for more information about this message." error. If you need logs or something, lemme know.

[2017-05-25 17:21] nerotix commented on #36
@hoppler does your fork also include where the playback failed error?

[2017-05-25 17:35] hoppler commented on #36
@nerotix the zip in the repo.plugin... (master branch) includes the F1 sources fix (version 0.0.4) but remember that this wont be the official repo but is just the base for the fork @DxCx has to do. afterwards ill help with the repo but i dont want to be the maintainer of it.

all my forks of any kind of 9anime plugins are solely for making pullrequests and will be deleted afterwards. so dont assu

[2017-05-25 17:57] nerotix commented on #36
@hoppler Ah I see. So I can just download your fork as zip and install it for now, right? Did you also check the F3 errors? At the moment I get errors on F1 and F3 with "Playback failed".

[2017-05-25 18:38] hoppler commented on #36
@nerotix im buildin the repo so it downloads urlresolver too. f3 was in the sourceslist for me but i didnt click on it. so maybe^^ currently the installation of urlresolver doesnt work so if you dont have it installed the 0.0.5 wont work which has all resent fixes. if you only wanna watch without openload take the 0.0.4

[2017-05-25 19:05] nerotix commented on #36
@hoppler I think I had installation issues with urlresolver with a different plugin so I had to install it manually, I believe I got version 3.0.31 or something(?). So ill try version 0.0.5. Thanks for replying.

[2017-05-25 19:20] hoppler commented on #36
my test was successful. it installed the dependency urlresolver on its own from my repository. so others can try too. @DxCx inform me when youre ready to fork the repo as i need to change the urls in the xml files before so it will work.

[2017-05-25 20:35] DxCx commented on #34
@nerotix 9anime website has issues today
I'm waiting for them to get stable again to make sure everything is working..

[2017-05-25 20:38] DxCx commented on #36
cool thanks alot @hoppler , i meant like theortically it should be working, but you proved that already so that's awesome.
i planned to massing with the repo over the weekend so probably we are going to have new version & a repo next week :)

[2017-05-26 00:20] cerinthus opened #46 "Broken with Leia"
Current source has bumped xbmc.gui abi to 5.13.0

[2017-05-26 05:35] hoppler commented on #46
@cerinthus so you tried installing it but it didnt want to? if so, we have to change the <import in addon.xml from xmbc.gui to xbmc.python 2.25.0

[2017-05-26 07:44] DxCx commented on #46
pardon me, but what is Leia?

[2017-05-26 07:56] hoppler commented on #46
@DxCx Codename for Kodi v18 -> Leia 18.x

[2017-05-26 07:57] DxCx commented on #46
Oh cool, thanks, first time i hear about kodi 18 :)
On Fri, 26 May 2017 at 10:56 hoppler <notifications@github.com> wrote:

[2017-05-26 09:33] hoppler commented on #46
@cerinthus @DxCx tested cmbx.python 2.25.0 and it blocks installation on kodi 16 which is good. someone please test it for kodi 18. updated the repository to have the version 0.0.6 which includes the xbmc.python 2.25.0 fix. also added scripts.module.requests so a fresh install of kodi only requires installation of the repository and all requirements get installed. now its up to 9anime to get stabl

[2017-05-26 09:37] hoppler commented on #44
@DxCx if the plugin is working i can add it before youre weekend fork. so please test it^^ you could possibly take some time for yourself and refactor the 9anime plugin to support both: 9anime and animeram as i think the codebase of those two is the same expect the embeded_extractor

if you do so, please add the possibility to display messages to the user in case of any failure. if i would impleme

[2017-05-26 15:56] nOneALOne commented on #46
tested the xbmc.python 2.25.0 fix it installed on kodi 18

[2017-05-26 16:42] hoppler commented on #46
@nOneALOne thx for reporting^^

[2017-05-26 17:36] cerinthus commented on #46
That fixes it.

Is it only there to prevent installation on Kodi < 17?

Removing the dependency, or setting the optional attribute causes it to install and work without issue as well.

Closed.

[2017-05-26 17:36] #46 closed

[2017-05-26 17:50] hoppler commented on #36
@all based on reddit its a issue that will take a longer time to recover as bots are reporting the videos to google for deletion. therefore 9anime has to reupload every video that gets deleted again which seems quite a bit.

[2017-05-26 18:59] hoppler commented on #46
yes

[2017-05-27 00:00] Dranzera commented on #36
Yugioh dual monster doesn't work now but Yugioh Zero worked.

[2017-05-27 12:30] DxCx commented on #44
hey @hoppler how do i use this repository in kodi? ^_^

[2017-05-27 12:33] DxCx commented on #36
@hoppler i have a future plans for something similar to what you suggested here,
we can take it offline if you want to hear more 👍

[2017-05-27 12:56] DxCx commented on #36
Hey everyone,
i've just updated plugin for version 0.0.7 and now it support openload as well (Thanks @githubus11)
please give it a try and report back, 9anime itself has alot of issues lately but looks like openload works..

[2017-05-27 13:21] DxCx commented on #44
Also, what should be the steps for update?
1. Create a new versioned zip
2. Upload the zip to plugin's directory
3. update addons.xml with the newest version
4. update addons.xml.md5
is that correct?

[2017-05-27 14:47] justin89h opened #50 "Suggestion: Openload"
Love that you managed to get openload sources working, especially with 9anime having issues at the moment.

Could I suggest though, for the plugin not to attempt accessing openload until after it is selected in the sources list? Having to pair it with openload every single time, even when using F1 or F2 servers is a bit annoying.

On a somewhat unrelated note, you may or may not know that dat1guy5

[2017-05-27 16:07] tugkan98 commented on #50
I was going to ask this too.

[2017-05-27 16:13] DxCx commented on #50
Hmm wired, when i tested it, it asked only once, so i was ok with that..
Ill check it again probably tomorrow, but i agree that its annoying..
Anyone else seeing this issue? Or i am the only one who had to pair only once?

[2017-05-27 16:16] hoppler commented on #44
@DxCx the repo contains a "how-to-update.md" for your question
every plugin including the repo-plugin itself has its own folder. so to install the repo, get the zip in repo.plugin.vido.9anime and install it in kodi.

[2017-05-27 16:56] hoppler commented on #50
@DxCx  hes not using openload, therefore hes not pairing it therefore always sees the "pair me" dialog.

[2017-05-27 17:04] DxCx commented on #44
yeah i got my list after reading the how to update just want to make sure with you i got it right since im going to make a script out of it

[2017-05-27 18:21] hoppler commented on #44
as a script the order is correct. also make sure to have the version in the addons.xml of the repo in sync with the addon.xml of the actual addon

[2017-05-28 01:32] justin89h commented on #50
Even if you do pair it openload requires pairing every 4 hours I think. So if you watch an anime episode a couple times a day, you need to pair twice a day, **even if you're not using openload servers**. Openload should probably be a last resort for people to try if other servers aren't available, rather then forcing the process when it isn't needed.

[2017-05-28 01:41] justin89h commented on #50
@hoppler is the multiple requests due to attempting to access multiple sources in order to get a list of what's available?

Another suggestion if this is the case (I know this would be harder to implement) would be to have a setting in the add-on for maximum resolution. Example 720p: The plugin could then attempt to play F1 720p, if not available, move to F2 720p, if not available, check for 480p,

[2017-05-28 03:22] DxCx commented on #50
Well yeah justin ill make openload lazy loaded which means that only after selected it will require a pair..

[2017-05-28 03:26] justin89h commented on #50
Sounds good to me, thanks

[2017-05-29 05:43] nbfalls opened #52 "Installation Failed: Dependency"
I'm very new to this, but when I try to install from zip file on my firestick through kodi, I get an error message saying failed to install add on, the dependency on script.module.urlresolver version. Any help on how to solve this?

[2017-05-29 06:07] DxCx commented on #52
hi @nbfalls,
we are in the process of moving into repostory rather then just download the zip,
the repostory has the missing dependancy, you can install the reposetory (and then obtain the plugin through it) by installing this zip:
https://github.com/hoppler/repo.plugin.video.9anime/raw/master/repo.plugin.video.9anime/repo.plugin.video.9anime-0.0.2.zip

[2017-05-29 06:14] DxCx commented on #44
hi @hoppler please make me collaborator at the repository so i can update version 0.0.7 👍

[2017-05-29 07:40] hoppler commented on #44
@DxCx as i sad earlier. please fork the repo and make it your own. ill delete mine afterwards

[2017-05-29 12:29] DxCx commented on #44
cool thanks 👍

[2017-05-29 13:01] DxCx commented on #44
Alright @hoppler
Done and it looks good =)
can you sync yours with my fork, this way everybody who is already installed yours will get mine as version 0.0.3?
Also, next step is to update how to install instructions.
i think that pointing to:
https://github.com/DxCx/repo.plugin.video.9anime/raw/master/repo.plugin.video.9anime/repo.plugin.video.9anime-0.0.3.zip
is abit long, and also is version spec

[2017-05-29 15:47] hoppler commented on #44
@DxCx done it and forked yours .tested it in my end and it updated automatically to 0.0.3 and the plugin to 0.0.7 from your repo. so other will migrate the next days

[2017-05-29 16:01] #50 closed

[2017-05-29 16:02] DxCx commented on #44
nice thanks @hoppler 👍 👍
do you have any suggestion about the zip?

[2017-05-29 16:03] DxCx commented on #16
temporary workaround -> using urlresolver.

[2017-05-29 16:03] DxCx commented on #36
any updates guys? is it better now?

[2017-05-29 16:06] p1wookie commented on #36
It's been working fine here with the shows I watch on it.

[2017-05-29 16:07] Dranzera commented on #36
Same here only thing that doesn't work and is no longer there is F2

________________________________
From: p1wookie <notifications@github.com>
Sent: Monday, May 29, 2017 12:06:16 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

It's been working fine here with the shows I watch on it.

—
You are receiving this because

[2017-05-29 16:11] p1wookie commented on #36
That may be due to 9anime itself. Sometimes f2 is the only option for me outside openload.

[2017-05-29 18:21] hoppler commented on #44
well. the only reason to update the repo is, if youre moving it to another location which, thus chaning the repos url. And Like other plugins, just add a link to the Readme of this addon with a good name and nobody will blame if its long or not^^
remember: you dont have to update the repos zip at all if youre releasing a new update for any addon. the "addons.xml" is a different one, than the "addo

[2017-05-30 10:15] hoppler commented on #52
@DxCx update the link above and delete the older 0.0.1 an 0.0.2 zips from the git-repo^^

[2017-05-31 07:34] DxCx commented on #36
well @Dranzera i've watched couple of F2 in the last 2 days,
wanted to tested it myself and it looks much better.
also, i noticed that some animes has also F4 server now.. actually had like 9 options yesterday night i was surprised.. :)

so, thanks for everybody who participated and helped making the sources more stable :)

[2017-05-31 07:34] #36 closed

[2017-05-31 07:36] DxCx commented on #44
thanks @hoppler
i created a short link for the repo zip: https://goo.gl/p9Lde0
i don't have time now but i'll update README later on and close this issue 👍

[2017-05-31 10:59] Dranzera commented on #36
Sorry man I actually meant F1, F2 is working great fot Yugioh and other anime too.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Wednesday, May 31, 2017 3:34:39 AM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

Closed #36<https://githu

[2017-05-31 11:07] DxCx commented on #36
hey @Dranzera can you please give me a link for episode which works on 9anime web but not on plugin?

[2017-05-31 11:09] Dranzera commented on #36
The episodes I'm talking about work but there is no more F1 as a choice just F2

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Wednesday, May 31, 2017 7:07:08 AM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

hey @Dranzera<https://githu

[2017-05-31 14:52] DxCx commented on #36
@Dranzera but is F1 available through the site?
if the site removed F1, then we won't have it as well on plugin

[2017-05-31 17:35] DxCx commented on #52
hey @nbfalls is installing through the repository helped?

[2017-05-31 18:51] #44 closed

[2017-06-01 22:42] Dranzera commented on #36
I checked the website there's F2, F4 and Open Load for Yugioh dual monsters but no F1.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Wednesday, May 31, 2017 10:52:02 AM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

@Dranzera<https://g

[2017-06-01 23:09] Dranzera commented on #36
F1 is not on the website.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Wednesday, May 31, 2017 10:52:02 AM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

@Dranzera<https://github.com/dranzera> but is F1 available through the site?
if

[2017-06-02 08:32] DxCx commented on #36
yep that was exactly my point, plugin is working as expected =)

[2017-06-02 10:54] Dranzera commented on #36
I never see F4 in Kodi though is there a reason for that?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Friday, June 2, 2017 4:32:33 AM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

yep that was exactly my point, plugin is working as

[2017-06-02 11:07] DxCx commented on #36
Not using latest version maybe?
I can see alot of F4 sources here
On Fri, 2 Jun 2017 at 13:54 Dranzera <notifications@github.com> wrote:

[2017-06-02 12:42] Dranzera commented on #36
Ah ok I'll get the new zip tonight then thanks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Friday, June 2, 2017 7:07:34 AM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

Not using latest version maybe?
I can see alot of F4 sources h

[2017-06-03 07:05] dandreis opened #55 "Failed playback error"
Every time I try and load a video I get either a 9anime error or failed playback error. Here's the log : https://logs.tvaddons.ag/pixinltmw

[2017-06-03 08:45] DxCx commented on #55
hey @dandreis are you using latest version?

[2017-06-03 08:50] dandreis commented on #55
Yes, I'm running it on an Android TV box with Kodi v17.3

[2017-06-03 08:51] hoppler commented on #55
@dandreis youre not using the latest plugin version

[2017-06-04 00:17] zenakuadevent commented on #55
i am having the same issue as well. i am update to date with kodi 17.3 with the fire-stick and i update to the lates plugin 0.7 if i now mistaken. and even follow the step to the read me repository, and i still get the error

[2017-06-04 04:08] justin89h commented on #55
I had this issue a day or two ago and 9anime.is was down for a while at the time, 9anime.to was still working. When 9anime.is came back up the plugin started working again.

May or may not be related

[2017-06-04 04:15] dandreis commented on #55
Yeah turns out I didn't update the add on like I thought I did.

[2017-06-04 04:15] #55 closed

[2017-06-04 21:17] Dranzera commented on #36
Yugioh Dual Monsters episode 44 doesn't work in Kodi or the website.
Also Hayate no Gotoku doesn't work. There's only F4 and openload for these two in Kodi and neither work F4 says kog error and Openload has q message with a website in it.

[2017-06-05 15:44] DxCx commented on #36
@Dranzera if you will visit the website on any other device in the same network, it will work as well.
unfortunately this is a requirement for openload

[2017-06-05 15:45] DxCx commented on #52
Going to close this because of inactivity

[2017-06-05 15:45] #52 closed

[2017-06-06 19:13] DxCx commented on #36
@Dranzera i've seen this as well, but on 9anime website the same F4 that didn't work on kodi are not working as well (File deleted)

[2017-06-06 19:15] Dranzera commented on #36
Oh no! these people continue to report and delete links that's so awful 😞

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Tuesday, June 6, 2017 3:13:03 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#36)

@Dranzera<https://github.com/dranzera> i've seen this as well, but on 9anime websit

[2017-06-07 00:49] Crashdummyy opened #56 "[Request] Autoplay"
First of all, Thanks a lot :) :)
I relly appreciate your work.

I did get here for Kissanime stopped working on Kodi ( Captchas :( )
Thanks to your work I can watch on my FireTV stick again.

Still I really love Kodis Autoplay Feature ( Play from here ), is there a way to implement automatic Hoster Selection in the next Release ?

PS: Partially I wouldn't Mind clicking, but the lists is sorted in

[2017-06-08 21:53] hoppler commented on #56
without refactoring of the code it wouldnt be convenient because sometimes a server is not working despite beeing listed. with autoplay you would currently always fail to play the file as it autoselects the displayed but not working server.

[2017-06-09 06:05] DxCx commented on #56
@hoppler thanks for helping out 👍
but @Crashdummyy im not sure i understand the request..
you want the plugin to auto select a source instead of showing a list?

[2017-06-09 06:41] justin89h commented on #56
Pretty sure hoppler is on the right track with the autoplay. Might I suggest a "play using..." backup option in the context menu, similar to what Exodus has implemented? Their autoplay feature is well thought out and most users seem pretty happy with it, despite it failing to find a working source occasionally.

The "play from here" option Crashdummyy mentions is designed to automatically attempt

[2017-06-09 07:56] hoppler commented on #56
@justin89h the "play usin..." option sounds good but without hacky coding it will not work and feel good. the processing pipeline of this plugin has to be reworked to handle retries if a stream failed to play. therefore it should cache all found sources (because of 503 for too many requests in a short period) and use them according to a predefined rule like: 1080p -> 720p and F1 -> F2 -> MyCloud -

[2017-06-09 08:22] justin89h commented on #56
This is in the head of the file that contains what looks like all the functions required to handle retries and quality settings for autoplay. Not an expert of licensing but does this give us freedom to use it? I'll have a muck with it tonight but will more then likely not achieve anything. If the licensing allows and you're interested I will upload the files somewhere.

[2017-06-09 08:44] hoppler commented on #56
@justin89h looked into the code of the kissanime plugin and its a one-file mess^^

[2017-06-09 09:21] justin89h commented on #56
Yep, looks like I'll have a lot more luck figuring out how this plugin works then the UKAP one. Way out of my depth but at least I should be able to get some idea of how it's put together and how difficult it is to implement things so at the very least I can offer slightly more educated ideas and error reporting.

[2017-06-09 11:15] Crashdummyy commented on #56
@DxCx
I thought that maybe there is a way to set a preferred quality and make the Resolver automatically pick that one up. Anyway autoplay itself ( play from here ) works.

[2017-06-09 15:06] Crashdummyy commented on #56
@hoppler
How about something like that ?
https://github.com/xStream-Kodi/plugin.video.xstream/blob/nightly/resources/lib/gui/hoster.py#L308

[2017-06-09 15:33] justin89h opened #58 "MyCloud url issue"
Looks like MyCloud servers should be working, but the plugin defaults to openload everytime.

The following is my attempt to understand the issue with no Python or Kodi coding experience:

After forcing the regex to only accept the MyCloud server:

in the function: "load_video_from_url(in_url):" in "embed_extractor.py" the line "return _EMBED_EXTRACTORS[extractor](url, page_content)" appears to be

[2017-06-09 15:37] justin89h commented on #58
Just noticed @hoppler has already been all over this and made a pull request, so will close this now. Looks like I wasn't far off the mark though.

Woops.

[2017-06-09 15:37] #58 closed

[2017-06-09 16:15] hoppler commented on #56
@Crashdummyy please ask @DxCx for those changes as i dont intend to refactor this project. im merely supplying fixes if the sources fail to pass

[2017-06-09 18:07] DxCx commented on #56
Hey guys :)
At the moment im in a hell of a pressure in life, but this feature sounds cool.
Im trying to keep the plugin as much functional as possible and to be honest @githubus11 & @hoppler are helping me alot with that..
If no one will pick it up till i have some free time ill do it for sure :)

[2017-06-10 09:12] justin89h commented on #56
@Crashdummyy
Take a look at the fork I have created off of hoppler's if you like
https://github.com/justin89h/plugin.video.9anime

I have added some settings that can be used to automatically play a particular server at best or worst resolution (pick based on your net performance)

@DxCx
My python skills are pathetic, so the code I have added probably doesn't meet any kind of best practice. It doe

[2017-06-10 20:34] DxCx commented on #56
@justin89h MyCloud is merged if you want to give it a try,
i don't mind to give you CR notes so you can learn and gain python experience =)

[2017-06-11 17:28] rbz205 opened #64 "Couldn't find eliable source"
I am getting above error. I just downloaded most current zip, but it is still an issue.

Animes tried are Shingenki no kyojin season 2; Gabriel Dropout; Shingenki Kyojin Chuugakkou;

Could it be a site issue?

[2017-06-11 18:02] hoppler commented on #64
@rbz205 Did you try 9anime in your browser on the pc and did it work for you?

[2017-06-11 18:08] rbz205 commented on #64
Yes, site works fine on a browser.

Just tried it again in Kodi and no luck.

[2017-06-11 18:11] Neogrey commented on #64
Currently only mycloud and openload are available, which should be working with the plugin.

My error:
[code]

[2017-06-11 18:17] p1wookie commented on #64
Just ran into this with Dragon Ball Super. Works fine in browser.

[2017-06-11 18:27] hoppler commented on #64
@all seen it, seems like token changed

[2017-06-11 19:21] DxCx commented on #64
hey, just seen it myself, they updated it overnight..
don't have much time now but i can see that info url now requires 2 more params
`?ts=1497164400&_=2487`
looks like, ts is easily obtainable from body (<body data-ts="1497164400">)
but we need to find where _ coming from.
im guessing from /token endpoint.
@githubus11 would you mind check that?

[2017-06-11 19:42] grabberboy commented on #64
already seen the page and try to get the _=

its not on token?v1 url
its on all.js

someone can find the _= variable please on all.js
i cant find how they assign it on each info

[2017-06-11 20:01] hoppler commented on #64
i have the ts variable: its $('body')['data']('ts')

[2017-06-11 20:10] grabberboy commented on #64
the _ variable is the most important
hope we can find it

[2017-06-11 22:21] grabberboy commented on #64
@hoppler can you share the code here so we can fix our plugin too?

Thanks

[2017-06-11 22:30] hoppler commented on #64
@grabberboy @DxCx i made a pull for the changes

[2017-06-11 23:04] grabberboy commented on #64
@hoppler
your a life saver bro!
if ever i want to know your email
if ever your interested as a freelancer

Thank you bro

[2017-06-12 03:24] #64 closed

[2017-06-12 03:32] DxCx commented on #64
just released version 0.0.9 with the fix, if you have repo installed you should get it automaticlly.
enjoy 🎉

[2017-06-12 18:59] SwuidwardBarrett opened #68 "9anime failing to install"
Hi

I'm running SPMC 16.7.0 on an Nvidia Shield (2017). I'm trying to install both the 9anime repo and addon using the zip files through the normal method. I've managed to install the repo but there is nothing in the Video Addons section. So then I try to install the add-on directly using it's zip file, however I then get an error message stating it's failed to install because "The dependency on x

[2017-06-12 19:30] DxCx commented on #68
hey @SwuidwardBarrett as written in main README.md, the plugin requires Kodi 17+
looks like your Kodi version is lower then that.

[2017-06-12 20:22] SwuidwardBarrett commented on #68
Ah right, I did read that but I didn't think that mattered as SPMC 16.7 has implemented most of the main features of Kodi 17 (such as updated Python and compatibility with HTTPS), and other add-ons that state they require Kodi 17+ also work on my SPMC. No worries though

[2017-06-12 20:30] hoppler commented on #68
@SwuidwardBarrett if you have the kodi fork with ssl enabled for python you can change the xbmc.python version to 2.1.0 and install that modified version

[2017-06-14 16:47] icpryde opened #69 "Add more sections"
Hello, I'm loving this add on and thank you for all the work you are doing. I was hoping you could add more sections from 9anime like "Popular" or "Most Watched" to make it easer to find shows you want to watch.

[2017-06-14 16:55] tinymovingparts commented on #69
I agree great addon! While its not a necessity, would it be possible to add a "Recently updated Dub" section to the menu? I know the sites has it in a tab on the home page. Not sure if it would be hard to add it into this plug in or not. If possible it would be a huge convenience, but as mentioned not necessary if its to much trouble.

[2017-06-17 03:00] melavious opened #70 "Trying to install"
I'm trying to install 9anime on my kodi android box. I'm running version 17.3. I can't seem to get the repository added to install the addon

[2017-06-17 03:13] tinymovingparts commented on #70
@melavious have you already download the repository zip file onto your box?

[2017-06-17 03:16] melavious commented on #70
No I haven't been able to get it to download

[2017-06-17 03:17] tinymovingparts commented on #70
Not to familiar with the android box set up is there an app on the box for downloading links?

[2017-06-17 03:19] melavious commented on #70
no have to add it with file manager. I haven't been able to get a working link to the zip file

[2017-06-17 03:20] tinymovingparts commented on #70
If you have acess to the google play store you can download es file explorer that is basically the same as downloader and follow the same general steps for firestick once you have downloaded the actual zip

[2017-06-17 03:36] tinymovingparts commented on #70
@melavious if you still need help or are confused i can give you step by step instructions assuming your able to get "ES file explorer" from the google play store. You need download the repository's zip file to install it .so using file manager in kodi will not work.

[2017-06-17 07:13] DxCx commented on #69
hey @icpryde @tinymovingparts the plugin is written in such way that adding new pages like this is very very easy.
just give me title in menu + links in website and i'll add them

[2017-06-17 14:07] melavious commented on #70
So once I have this es file explorer how do I go about getting the zip file

[2017-06-17 17:14] tinymovingparts commented on #70
@melavious sorry for the late reply just got off of work and had to test everything out. safe to say following these steps everything will be successful!

starting with Es file explorer
1. on side tool bar click where it says favorites to drop down the different options and click (ADD)
2. there will be to spaces that need to be filled out Path & Name
Path: https://github.com/dxcx/plugin.video.9ani

[2017-06-17 17:24] tinymovingparts commented on #69
@DxCx awesome!
the title would be "Latest Dubbed"
and the link would be
https://9anime.is/filter?sort=episode_last_added_at%3Adesc&language=dubbed

[2017-06-17 17:30] tinymovingparts commented on #70
@melavious Please comment on how everything goes it should all work if you follow the steps.
@DxCx not sure how many people use the android box but if you want you could add these steps into the readme as to prevent any confusion or further open issues for installing onto android box.

[2017-06-17 18:12] hoppler commented on #69
@DxCx
another one:
New&Hot (subbed) [the ones on the homepage if you select "recently updated sub"]
https://9anime.is/filter?status%5B%5D=airing&sort=episode_last_added_at%3Adesc&language=subbed

I guess thats the one people looking for "newest subbed" want. so we could add "newest dubbed" and "newest subbed" or "new&hot subbed"...

[2017-06-17 18:31] melavious commented on #70
Works well the app was a big help ty

[2017-06-17 21:44] DxCx commented on #70
wow @tinymovingparts that's make me very happy to see people helping out just like that 👍 ,
go ahead open a PR i'll merge it gladly :)

[2017-06-17 21:44] #70 closed

[2017-06-17 22:22] #69 closed

[2017-06-17 22:30] DxCx commented on #69
Just release 0.0.10 with both subbed and dubbed. enjoy 👍

[2017-06-18 05:51] DxCx commented on #68
@SwuidwardBarrett Can you confirm it helped or not? Might help more people in the future

[2017-06-18 23:06] gaining commented on #68
@SwuidwardBarrett you should use FTMC: https://kod1help.com/ftmc-kodi-jarvis-fork-for-all-android-and-fire-devices

[2017-06-19 21:43] icpryde commented on #69
Would you be able to add the section "Most Watched". The link is https://9anime.to/most-watched

[2017-06-19 21:46] icpryde commented on #69
@DxDc would you be able to add "Most Watched" the link is https://9anime.to/most-watched

[2017-06-19 21:47] icpryde commented on #69
@dxcx would you be able to add "most watched" section? The link is https://9anime.to/most-watched

[2017-06-19 21:54] DxCx commented on #69
can you please open another issue for that?

[2017-06-19 23:33] icpryde opened #75 "Add new section"
I was hoping you could add a few new sections like "

[2017-06-19 23:33] #75 closed

[2017-06-19 23:35] icpryde opened #76 "Add new section"
I was hoping you could add a new section called "Most Watched" the link is here https://9anime.to/most-watched.

Makes it easier to find the popular animes.

[2017-06-23 02:51] Cozmmando commented on #76
I would really like to have this as well! Awesome add-on by the way!

[2017-06-23 20:50] #76 closed

[2017-06-23 21:04] DxCx commented on #68
closing due lack of activity..

[2017-06-23 21:04] #68 closed

[2017-06-24 10:34] DxCx commented on #56
Released in version 0.0.12, you should get it via auto update.
enjoy and thanks for @justin89h

[2017-06-24 10:34] #56 closed

[2017-06-24 11:16] Crashdummyy commented on #56
Thanks for your hard work :+1:
Now I can safely pass out while watching Anime :)

[2017-06-24 21:18] Sol-Illadan opened #82 "Kodi 17.1 - Failed to Install a Dependency"
I am using OSMC which has Kodi 17.1. I had downloaded the repo zip, installed it & tried to install the 9Anime plugin, But it gives a message -

Please suggest as to what dependency i should install to enable the plugin to be installed.

[2017-06-24 21:38] Sol-Illadan commented on #82
I looked at the addon.xml & found that it needs urlresolver v3.0.31. But the latest one for Krypton is 2.10.0

[2017-06-25 10:24] DxCx commented on #82
hey @Sol-Illadan please refere to the readme.md file,
there are instructions there on how to install it via the repository.
the repository has the missing dependency as well. 👍

[2017-06-25 16:57] noisymints opened #83 "MyCloud links crash Kodi (Krypton 17.3)"
Not sure if it's something on my end, but when I click on MyCloud links kodi crashes. All the other links  work fine.
On the site I've noticed some kind of advertisement block/box on 9anime player (only in MyCloud links).
Debug log: https://pastebin.com/NyB18BtZ

[2017-06-25 18:01] p1wookie commented on #83
MyCloud has worked perfectly fine for me. Using it now with Dragon Ball Super

[2017-06-25 20:09] hoppler commented on #83
@noisymints i guess your system doesnt support the filetype provided by mycloud see:

`
19:09:27.275 T:1424   ERROR: DXVA::CProcessorHD::IsFormatSupported: Unsupported format 104 for 1.
19:09:27.275 T:1424   ERROR: DXVA::CProcessorHD::IsFormatSupported: Unsupported format 105 for 1.
`

[2017-06-26 10:48] DxCx commented on #83
thanks @hoppler
MyCloud requires m4u playlist support, as hoppler stated it's probably not supported by your version of kodi. are you using offical build? or?

[2017-06-26 12:11] DxCx opened #84 "Add additional metadata to animes"
using kodi api:
http://mirrors.kodi.tv/docs/python-docs/13.0-gotham/xbmcgui.html#ListItem-setInfo

[2017-06-26 12:14] noisymints commented on #83
Official build. Kodi 17.3 Krypton on Windows 7 PC. Same thing happens on my laptop by the way. Uninstalled - reinstalled etc.

[2017-06-26 12:21] DxCx commented on #83
hmm,
i did try it out of the box on windows 10 and it works (I am working on mac usually)
maybe windows 7 is missing something because i did find addon which tries to add support for that.
can you try and install
https://superrepo.org/kodi/addon/script.module.m3u8/

and report back?

[2017-06-26 13:20] noisymints commented on #83
It was already installed because it updated. Unfortunately, same thing happens. Kodi crashes and exits.
log: https://pastebin.com/fc7UhbGm

[2017-06-28 06:30] DxCx commented on #83
hmm.. this is interesting..
i'll try to dig further into this issue using my old laptop (Windows 7 as well)

[2017-06-29 00:20] noisymints commented on #83
Thank you, DxCx and everyone.

[2017-07-01 03:28] greatwroth opened #87 "[REQ] autoplay next using first server available"
Add an option to essentially mimic the site; autoplay next episode in the series using selected or highest quality on the first server available.

[2017-07-03 03:57] xanergy opened #88 "9anime addon not working"
First I want to say Im very thankful for this add-on. The 9anime kodi addon has been working fine for me and suddenly when I search for episodes it just says 9anime had an error. Im using the newest version 0.0.9. Thanks in advance.

[2017-07-03 04:16] gooksta opened #89 "addon not working(KODI- Jarvis and krypton)"
So this is my first time trying to use this addon for kodi. I love the site generally so i figured there was probably an addon.

Currently running KODI on both jarvis and krypton, neither are working beyond the main page.

What I have currently tried:
uninstalling addon
uninstalling repo
reinstalling repo
reinstalling addon

tried both sites https://goo.gl/p9Lde0 & https://github.com/DxCx/plugin.v

[2017-07-03 06:23] hoppler commented on #88
Hi,

reason is: 9anime.is is off. You have to change the _BASE_URL_ to 9anime.to in resources/lib/NineAnimeBrowser.py

A settingsentry in the settings to select the domain could be handy for something like this

[2017-07-03 06:23] hoppler commented on #89
see #88

[2017-07-03 06:35] DxCx commented on #89
Duplicate of #88

[2017-07-03 06:35] #89 closed

[2017-07-03 06:39] #88 closed

[2017-07-03 06:42] DxCx commented on #88
just released version 0.0.14 with the .to domain.
should auto update (if using the repo)
enjoy!

[2017-07-03 07:04] gooksta commented on #88
How do i changed the base_URL?

[2017-07-03 07:08] DxCx commented on #88
Even after restarting and then right click on repo and check for updates?

[2017-07-03 07:10] gooksta commented on #88
@dxcx yes, I restarted it twice now and tried updating it but still doesn't update

[2017-07-05 03:15] icpryde opened #92 "Adding / syncing favourites list"
I was wondering if anyone has some suggestions, I know we can save shows/movies to the build in "favourites" section on Kodi which is working well. Though what I wanted to do was also have a way to sync those favourites so I can have the same lists on all my kodi devices and was wondering what some suggestions would be?

I was thinking of trying Emby but I don't think that works the way I'm descri

[2017-07-05 06:32] DxCx commented on #92
Hey @icpryde
There is also a feature request for login support (see #23) i guess this is what you are looking for..

[2017-07-11 21:19] xanergy opened #93 "Kodi add on not working"
Whenever I search up an anime it says there is a problem. Everything else works

[2017-07-13 13:40] Jai-Brown opened #94 "Addon stopped working all of a sudden."
The plugin was working fine yesterday, but now anytime I open it, I get stuck in the Watched menu, No action taken makes a single difference. I've tried forcing an update. reinstallation and many restarts.

I'm unsure what more information I can give to help with this issue.

[Video Demonstration](https://www.youtube.com/watch?v=RuWPJYs-JGI)
[Kodi Log](https://gist.github.com/Jai-Brown/9a800e93e64

[2017-07-13 17:02] Jai-Brown commented on #94
Randomly showed up again so closing. Sorry for wasting your time :S

[2017-07-13 17:02] #94 closed

[2017-07-14 06:38] DxCx commented on #94
@Jai-Brown no problem at at all :) i've seen it only now... hehe

[2017-07-14 06:39] DxCx commented on #93
hey @xanergy i've just confirmed that search works for me.
are you using latest version (0.0.14)?

[2017-07-14 06:39] DxCx commented on #92
Closing duplicate

[2017-07-14 06:39] #92 closed

[2017-07-14 06:40] DxCx commented on #87
hey @greatwroth
do you have an example of a plugin that does that?
this is more kodi logic then plugin logic..

[2017-07-14 06:42] DxCx commented on #83
I've tried to play with it abit more, m3u just works for me out of the box..
is there anyone else who's experiancing this issue?
or someone can shade abit light on this one?

[2017-07-14 06:42] DxCx commented on #82
Im Guessing that it just helped..

[2017-07-14 06:42] #82 closed

[2017-07-14 08:08] xanergy commented on #93
It says 0.0.9 do I have to reinstall it?

[2017-07-14 08:09] xanergy commented on #93
It was working up to two days ago. And when I try and update it says there are no updates available

[2017-07-14 13:11] DxCx commented on #93
The latest version from repository is 0.0.14,
You can try reinstall the repo and the plugin using instructions on README.md

[2017-07-14 15:57] ebby84 opened #95 "addon incompatible due to unmet dependencies"
hi..iwas trying to install 9anime aon my android box but addon is incompatible.is this is only for kodi krypton??

[2017-07-14 19:42] xanergy commented on #93
Ok I installed it. Looks like I have to reinstall it every time you update to a diff version. Im using fire tv. Thanks for the help and the awesome app

[2017-07-14 19:42] #93 closed

[2017-07-14 23:43] greatwroth commented on #87
The only other video plugin I use is the YouTube plugin, it has autoplay next but uses YouTube's api so likely not useful.

[2017-07-15 19:32] Jai-Brown commented on #87
This is essentially already in the addon, just requires a few tweaks.
Go into the 9anime settings, change "Episode order" to "Ascending", change sort by Resolution "Best", select "Automatically play first result". Then simply find the episode you want to start from, right click it and select Play from here.

If I understand it correctly, this only uses the MyCloud server but I've had no issues wit

[2017-07-15 20:18] DxCx commented on #87
This will only auto start without the need to select source, if i got it correctly what he wants is the ability to play one after another

[2017-07-15 20:52] greatwroth commented on #87
The dev is right, I've already tried that setup and there is no "play from here" option when using this addon anyway. I normally watch anime 2 or 3 episodes at a time, hence the request.

[2017-07-16 01:49] Jai-Brown commented on #87
I'm sorry, but there is a "Play from here" option on my Kodi. Maybe we're running different versions. I'm running the latest stable Krypton build. With everything mentioned in my comment above, I can start a season from episode one and have it play through every episode until I stop it or I've watched everything in the list, so long as there is no error thrown while watching an episode.

![](http:

[2017-07-16 02:13] Jai-Brown opened #96 "Couldn't find reliable sources."
[Log File](https://gist.github.com/Jai-Brown/8c2708eb24cb057850ae21c9c3fd61c9)

I'm not sure what happened. One minute I'm finishing the last episode of Nanbaka and everything is fine, next minute I'm unable to load a single video. I've tried fresh addon installs, fresh Kodi installs (Both from the Windows Store and the 32-bit installer from their website) and nothing seems to help.

I can confirm

[2017-07-16 03:02] greatwroth commented on #87
Hmm, that's odd, I am also running latest stable (even double checked on github), but I have it set to play next video automatically (meaning selecting a video acts the same as play from here in most cases) and if I revert it I get that option... but I cannot test it as the addon has inexplicably stopped working for me as well. Once I can test it the real issue might be adding compatibility for th

[2017-07-16 03:36] blunttedsmurf commented on #96
Same here. It was just working. I'm on version 14.

[2017-07-16 05:52] TheWhiteHunter commented on #96
Also having this problem on version 14.

[2017-07-16 07:31] grabberboy commented on #96
@hoppler
hoppler can fix this easily

[2017-07-16 08:38] Hannover2k commented on #96
Same error here using 17.4RC1

![image](https://user-images.githubusercontent.com/30209308/28245996-2fdab288-69c7-11e7-9401-3d4470390649.png)
![image](https://user-images.githubusercontent.com/30209308/28246003-4f9dd906-69c7-11e7-9567-ac0590fb155c.png)

[2017-07-16 10:40] DxCx commented on #95
Hey,
this is for Kodi 17+
did you install from repostory as explained on readme.md?

[2017-07-16 10:42] DxCx commented on #87
Play from here is not something the addon is adding but this is basic feature of Kodi.
as i don't do auto play i never noticed it but i do have it as well =)

[2017-07-16 10:44] DxCx commented on #96
Thanks,
yes there seem to be an issue, i dont have time to debug it now but i was able to see i have it as well.
well debug this and update in a couple of hours when i get home

[2017-07-16 15:23] lap00zza commented on #96
@DxCx if this helps at all, on the token `_` do `-30` so `token - 30`

[2017-07-16 17:09] Alphafighter09 commented on #96
Yea I also get this. Anyone know when its gonna get fixed

[2017-07-16 17:24] NE03N commented on #96
I think 9Anime changed something in their website making the plugin unable to play any content... all we can do is wait for a fix which will hopefully come soon since this is literally the only descent plugin for anime out there...

[2017-07-16 17:45] ebby84 commented on #95
thanks for reply bro...my bad..you did mention it for kodi 17..guest have to upgrade the box or use kodi fork..

[2017-07-16 18:45] owlsharpton commented on #96
Having the same issue. :(

[2017-07-16 22:01] icpryde commented on #96
I also can't seem to be getting any episodes to work it wont pull up any of the sources.

[2017-07-16 22:54] DxCx commented on #96
alright so finally got home,
i was able to verify what @lap00zza said, you saved me some time, thanks!
expect an hotfix soon =)

[2017-07-16 22:57] DxCx commented on #96
Just released version 0.0.15, update and enjoy 🎉

[2017-07-16 22:57] #96 closed

[2017-07-16 22:59] DxCx commented on #95
Cool 👍 hope you can sort it out soon ;)

[2017-07-16 22:59] #95 closed

[2017-07-17 00:41] AtsuiPanda opened #99 "How to update?"
I am a little new to kodi and such, I tried to update from the plugin and no god and tried to download again with downloader like it says in guide but it's still .14

[2017-07-17 00:43] djrajir commented on #99
Also the repo needs to be updated. I use a Android TV device so I don't have access to a browser that can download the repo is very important for me.

[2017-07-17 00:49] AtsuiPanda commented on #99
I got it , I just had to make my own little link for it to download. So yeah I couldn't find a short link is all lol but it seems to be working now , thank you to the guy who's updating it

[2017-07-17 02:49] giftedx29 commented on #23
any change on this?

[2017-07-17 05:14] DxCx commented on #23
nope, still need time :)

[2017-07-17 05:18] DxCx commented on #99
glad it works :)

[2017-07-17 05:18] #99 closed

[2017-07-17 06:36] hoppler commented on #96
@DxCx the real fix is to change

in NineAnimeUrlExtender.py
[code]

to

[code]
(Remove the +e)

As they dont seem to use the token anymore you can change line 100 in embed_extractor from

[code]
to

[code]

and change the time.sleep from 1 second to about 0.2 seconds

[2017-07-17 07:39] DxCx commented on #96
Thanks @hoppler i was planing to dig more into that but i wanted to first let the people have thier anime fix as soon as possible :)

[2017-07-18 14:56] noisymints commented on #83
Update: I upgraded my laptop to Win10, and with a clean install of Kodi everything works fine. Looks like something was wrong with my previous setup, so I wouldn't worry much for this error anymore.
DxCx, thank you very much for trying to resolve this.

[2017-07-26 03:08] acidmanifesto opened #102 "Getting search results. No sources are found"
Get searching results but when i click on the links there are no sources showing. 9anime site works fine.

[2017-07-26 06:14] DxCx commented on #102
hey @acidmanifesto are you using latest version?
i've just checked and the addon is working as expected...

[2017-07-26 13:31] acidmanifesto commented on #102
@DxCx i am, but apparently it is no longer happening when i checked again a hour later. maybe it was a issue with the site and not the addon. so since it is no longer a issue i will close the issue.

[2017-07-26 13:31] #102 closed

[2017-07-26 18:38] gooksta opened #103 "Getting stuck Fetching sources"
I don't know if it's just me, however on some episodes it will get stuck on "fetching sources" "Processing RapidVideo". After it fails I need to force stop kodi and restart otherwise it doesn't work again :(

Example i can use is one piece episode 651 and a few others i don't honestly remember. It only seems to happen with a few episodes.

Is there anyway i can remove Rapidvideo as a source? (I us

[2017-07-28 04:58] icpryde commented on #103
Yup I'm having the same issue, I just tried watching hunterxhunter episode 116 and it gets stuck on finding sources for rapid video

[2017-07-29 04:17] gooksta commented on #103
yeah, we'll just have to wait till @dxCx can get back to us. Kind of annoying but considering how great this addon is i can't really complain atm.

[2017-07-30 06:56] DxCx commented on #103
hey,

i never had that issue but if i recall correctly at the moment in the settings you can request for one specific source if i remember correctly, can you see if that helps you?
if not, maybe we will need to make that the opposite? some checkbox list of what to use and what not..?

[2017-07-30 07:00] gooksta commented on #103
@DxCx you cannot specify a single source. You can specify Openload(opensource)? don't remember the name, and rapidvideo as the two choices(I believe). I do not have it in front of me atm. You cannot specify F2/F4 sources which pretty much always work and are the nicest quality/speed.

If you could somehow make it allow me to only show "F2/F4" that would be amazing, since i could literally just pre

[2017-07-30 07:09] DxCx commented on #103
Ok, so we will need to replace this functionality with filter list, so people can just ignore sources..

[2017-07-30 09:49] hoppler commented on #103
id suggest a list in the settings which says, those sources shall be fetched immediately and the other sources shall be visible but only fetched if the user explicitly clicks on it. so we always have a fallback if the preferred sources are not available.

As a result youd see oin the sourcelist of an episode with F1, F2 enabled as "immediately fetching":
F1 720p
F1 1080p
F2 1080p
OpenLoad (will be

[2017-07-30 20:23] gooksta commented on #103
What hoppler said would be absolutely amazing. IT would allow us the choice of using openload or rapidshare if we really wanted to otherwise just completely ignore it

[2017-07-30 21:05] p1wookie commented on #103
I hit this for the first time today on my Fire Stick trying to load up episode 98 of Dragon Ball Super

[2017-08-02 02:13] LordCorellon commented on #103
That's one of the reason I forked my path out to show all sources and allow selecting source by quality too (I've noticed DxCx's branch will drop some 1080p sources if another server is more favorable) it allow addresses the issue with only 1/2 the genre's showing.    However I don't know python so only barely manage to stay somewhat current with DxCx and really never figured Github out and the wh

[2017-08-02 05:27] DxCx commented on #103
@LordCorellon can you sum your changes?
I've seen there is some fix/change to genere's RE..
but because the forks are already too far from each other i cannot see anything else..

[2017-08-02 11:31] LordCorellon commented on #103
NineAnimeBrowser.py
` _GENRE_LIST_RE = \
    re.compile("<li><a\shref=\"/genre\/(.+?)\"\stitle=\"(.+?)\">",
               re.DOTALL)`
Fixes every other Genre from being skipped
`def get_episode_sources(self, anime_url, episode):
	servers = self._get_anime_info(anime_url)
        sources = map(lambda x: (x[0],
            filter(lambda y: y['id'] == episode, x[1])), servers.iteritems())
        so

[2017-08-04 10:23] ratchetchan opened #104 "Search doesn't work"
Search all of a sudden just stopped working. No results whatsoever. Have uninstalled, reinstalled, uninstalled again, installed repo, installed from repo. Still nothing.

Makes the add-on pretty much unusable unless one wants to go through 500 pages all the time.

Edit: can't find reliable sources even from the recent lists, either.

[2017-08-05 23:27] DxCx commented on #104
Hey @ratchetchan are you sure you are using latest version (0.0.16) ?
Just confirmed it is working well on latest version (Search + playback)

[2017-08-05 23:34] ratchetchan commented on #104
@DxCx I am. Just tried it again and still the same results (none). It's definitely not a connection issue because other add-ons are working fine.

[2017-08-06 06:04] cbizzle14 commented on #104
I have this exact issue. But the thing is that it only happens on regular cellular data. When I'm connected to wifi everything works perfectly.

[2017-08-06 06:14] DxCx commented on #104
Well, ill need more info from both.. logs, kodi version, host os?
On Sun, 6 Aug 2017 at 9:04 cbizzle14 <notifications@github.com> wrote:

[2017-08-06 06:35] cbizzle14 commented on #104
I hope this is the log you need. I'm not sure how to get a log of just 9anime if that's even possible. I'm running kodi 17.3 and this happens on both of my devices. Samsung galaxy s7 and LG GpadF 8.0 again on wifi everything works. On cellular data search doesn't work and clicking any shows in the folders results in "can't find eliable sources" this wasn't happening three weeks ago (last time I us

[2017-08-06 06:43] DxCx commented on #104
This is the right log file but i dont see anything useful.. in this log you are able to search but not to play?
Can you check if 9anime website is working on celleolar data?

[2017-08-06 06:48] cbizzle14 commented on #104
When I search I get no results. No matter what I search. I then tried Latest. One piece clicked an episode and got couldn't find sources. Website works fine on cellular

[2017-08-07 19:34] gaining commented on #104
It's working for me today. Then again, it didn't work 2 days ago when I tried. I'm on FTMC android 4.4. The addon works almost perfectly. The autoplay feature only plays 720p if you tell it to play the highest resolution even if 1080p exists. I'm ok with that since I can't really notice a difference between 720p and 1080p. Other than that, the addon is perfect.

[2017-08-08 14:54] Theangelofspace15 opened #105 "the addon is not opening on IOS"
this is the log
https://ares-project.uk/logupload/log.php?id=2269752
thanks for you help

[2017-08-09 08:39] DxCx commented on #105
hey @Theangelofspace15
is kodi available for iphones now? cool!
anyway, it looks like this is not the only plugin that is not working, but there are alot of breaks,
this is because the module "script.module.requests" which alot of addons is the one to error.
i would recommend to open a ticket there and have some insights

[2017-08-09 11:01] Theangelofspace15 commented on #105
thanks. kodi its only available in jailbroken Iphones.

Sent from my iPhone

On Aug 9, 2017, at 10:39, Hagai Cohen <notifications@github.com<mailto:notifications@github.com>> wrote:

hey @Theangelofspace15<https://github.com/theangelofspace15>
is kodi available for iphones now? cool!
anyway, it looks like this is not the only plugin that is not working, but there are alot of breaks,
this is becaus

[2017-08-10 15:48] hoppler commented on #104
reason for autoplay using 720p instead of 1080p source is the faulty "sort" as it is sorting alphanumerical https://github.com/DxCx/plugin.video.9anime/blob/dceac911d6153e03d563c839aa96f314cd12b8f5/resources/lib/ui/SourcesList.py#L50

but it as to sort by context. it means to strip all non numerical characters from the sources key and then sort by number like:
[code]
will get
[code]
which can be c

[2017-08-11 13:26] DxCx commented on #104
hey @hoppler would you like to open a PR for that?
im on vacation with the family right now and will be able to handle this only a week from now..

[2017-08-14 22:02] zenakuadevent opened #106 "Search and recent sub are not working."
i click recent sub and nothing showed up, and i also try searching and nothing show up either. i am up to date with the addon and everything.

[2017-08-17 00:33] LordCorellon commented on #103
I think I screwed up the rebase so there are more commits showing then there actually are changes but I have redid the code to make it possible to merge into your fork if desired, submitted a pull request to do so.  I'm sure some of the code you could clean up to be cleaner, I'm not that fluent in python to match your level and style

[2017-08-17 01:06] gooksta commented on #103
@DxCx Any chance you'll have sometime to figure this issue out for us? <3 dying with some of them lol

[2017-08-17 01:57] LordCorellon commented on #103
If anyone is interested I built a basic source filter into my fork, replaced the generic sever select with multiple toggle switches for F2, F4, RapidVideo, MyCloud and OpenLoad.   You can turn each source on or off as desired.

Works both with the classic "list" style source selection as well as my "directory" style source selection which I prefer as I use a tablet to control the Kodi

[2017-08-17 23:58] LordCorellon commented on #104
I added a crude sorting method to my fork that sorts based on resolution followed by server name (reverse alphabetical), I also modified utils.py to append a p to all resolutions for consistency since my cloud returns resolutions without a p (720 vs 720p).

Like everything I'm sure there are much better ways to accomplish what I did but it provides a workaround for now and a starting point.

[2017-08-18 05:56] hoppler commented on #104
pullrequest for sort added. removed "prefer best" because in its current version its useless as i see it. the better option would be to prefere resolution in settings like 720p and above or 720p and below or more settings.

[2017-08-18 05:59] DxCx commented on #104
Thanks both!
will be taking care of the PRs and release a new version over the weekend 👍 🎉

[2017-08-18 14:44] DxCx commented on #104
I've taken care of resolution sorting suggested on this ticket.
but the ticket originally opened to report searching problem.
i couldn't find any traces for searching issues, are the searching issues still relevant?

[2017-08-18 14:46] DxCx commented on #106
Hey @zenakuadevent thanks for the report, but it does work perfectly for me at the moment, i'll need more info in order to help.
is it still happens? (Maybe the server was unavailable at that time)
what kodi version are you using?
is it worked for you before and suddenly stopped?
can you provide logs?

[2017-08-18 14:48] DxCx commented on #105
well, offically im not supporting iphones  devices as i dont have one and cannot really support it without the ability to test it.
i can try and help you fix it remotely, but i'll need your help for that.
from the original logs provided it looks like something in core kodi is broken, where you able to verify if that was the issue?

[2017-08-18 14:49] DxCx commented on #87
Closing this as it is already implemented and working.

[2017-08-18 14:49] #87 closed

[2017-08-18 14:50] DxCx commented on #83
Cool! Im happy to see that you are able to enjoy it now :)

[2017-08-18 14:50] #83 closed

[2017-08-18 15:56] cbizzle14 commented on #104
Yes just tried. Doesn't work on cell data. Tried again when connected to wifi and it worked.

[2017-08-18 16:43] #103 closed

[2017-08-18 16:51] DxCx commented on #104
@cbizzle14 let's tackle that in a new issue, can you please open one with more info?
- kodi version
- logs on wifi data
- logs on cell data
- what else is broken on cell data? (only search? more functionailty as well?

[2017-08-18 17:06] cbizzle14 opened #112 "Search doesn't work on cell data"
Kodi 17.3
WiFi log - paste.ubuntu.com/25340632/
Cell data log - paste.ubuntu.com/25340654/
On cell data use to not be able to find reliable sources for any shows in any of the folders (latest, recent sub, etc) but that is working now. So search is the only thing not working now.

[2017-08-20 06:07] #104 closed

[2017-08-20 06:12] DxCx commented on #112
Hey @cbizzle14 unfortunately, the logs doesn't indicate anything that we can learn from.
i want to make sure i under the issue,
in menu you have "Search", when you are using it, do you get no results on cell data?
or the issue is after you are selection episode and the plugin is looking for resources?
or both?
since "Search" doesn't work refers to Search menu item results. not to video fetching as

[2017-08-20 06:15] cbizzle14 commented on #112
It brings up no results. A blank page. No matter what show I search for

[2017-08-20 11:59] hoppler commented on #112
On Android 7.1.1 with Kodi 17.3 of the playstore the plugin and its search work on wlan and cell data. so my guess is, its your operatingsystem or your kodi whose the culprit.

[2017-08-20 17:25] cbizzle14 commented on #112
I don't think it's my OS because I have a different device with the same problem. So it probably is just kodi. It's just weird because it was working like a week before the problems started occurring

[2017-08-20 18:06] hoppler commented on #112
you could always try to wipe kodi and reinstall it. with "wipe" i mean, go into appinfo of kodi and "force stop" it, afterwards go to "storage" in the same appinfo menu and "clear cache" and "clear data". then uninstall it and install it again. attention: youll loose all your kodi settings and everything like it was never installed on the device

[2017-08-20 18:11] hoppler commented on #112
@DxCx on your next feature add run. how about extend all exception messages and extend the logging for better debug? for example check the http statuscode on return and log it. generate message for the user to see on known errors like 503 for 9anime is down, so we wont get those: "cant find sources" issues which are resolved 10 minutes later automatically. with better error logging we could maybe

[2017-08-23 00:13] cbizzle14 commented on #112
Cleared cache and data. Uninstalled and reinstalled kodi. Now 17.4 and it still doesn't work

[2017-08-24 12:03] DxCx commented on #112
@ratchetchan do you see the same exact problem? (Search is working only on wifi?)
@cbizzle14 - if you don't use "search" button to get to the anime, are you able to play the episode?
@hoppler - yeah we will probably need to add more debuging info to catch this...

[2017-08-25 05:04] cbizzle14 commented on #112
If I manage to find the show I'm looking for in the folders, it does work. Just tried it and currently watching an episode. Search still doesn't work

[2017-08-25 07:32] DxCx commented on #112
alright @cbizzle14 thanks, @ratchetchan is that the same issue for you?

[2017-08-28 06:34] AtsuiPanda opened #113 "How to install on libreelec"
I've been wanting a raspberry pi3 and wanted to also use libreelec ( kodi ) but the way I install this addon with my firestick probably won't work ( downloader app )

[2017-08-28 06:35] #113 closed

[2017-08-28 06:54] DxCx commented on #113
Hi @AtsuiPanda

I dont own rpi myself, but i was helping a friend few month ago,
Ive downloaded the repo zip into sd card and then installed it in the rpi.
If you resolved it in a different manner, please share with others :)

[2017-08-30 19:20] pjcanales opened #114 "Add-on is broken as of today"
Hello last nite the add-ons was working perfectly. However when I tried it at 2:15pm central it doesn't seem to work.  The latest,newest,recent subbed,popular subbed,recent dubbed,popular dubbed,genres,search . What could have caused this issue.  On website says they are maintaining the server. F3 server Wil be back up in few days. Could this have cause the Add-on to break?

[2017-08-30 20:08] JinKudo commented on #114
same here. been watching anime until 5am. but suddenly stopped working in the afternoon.

[2017-08-30 20:27] JavierZ667 commented on #114
It's not working for me either, tried reinstalling Kodi and 9anime and nothing worked.

[2017-08-30 20:34] DxCx commented on #114
hey guys thanks for the report,
i've confirm it's not working,
will take care of that and release a version asap

[2017-08-30 20:47] DxCx commented on #114
Closed By #116
Enjoy

[2017-08-30 20:47] #114 closed

[2017-08-30 20:57] DxCx commented on #112
hey @cbizzle14
can you go to settings => system settings => Logging and enable debug log.
then paste both logs on wifi & cell?

[2017-08-30 23:38] DxCx commented on #105
Closed due to inactivity.

[2017-08-30 23:38] #105 closed

[2017-08-30 23:38] DxCx commented on #106
Closed due to inactivity.

[2017-08-30 23:38] #106 closed

[2017-08-31 21:11] wikd opened #119 "SPMC"
Any chance could get this to work on SPMC, for now all it does is say python dependancy not met.

[2017-08-31 21:45] DxCx commented on #119
what's SPMC?

[2017-08-31 21:55] wikd commented on #119
Android minded fork of kodi.[http://spmc.semperpax.com/](url)

[2017-08-31 22:44] Milkshake9999 opened #120 "not working as of yesterday"
Hi the addon has been working for me for the last 3 months first of all i was on 0.0.17 when the issue first started whenever i clicked a show icon i would get " 9anime error check the logs for more info " after trying countless times of uninstalling and reinstalling and even reinstalling my os I checked your page and i saw that the last update was from 23 hours ago I downloaded as a zip transferr

[2017-09-01 00:21] cbizzle14 commented on #112
Search is working on cell now but here is logs
Cell Paste.ubuntu.com/25441822
WiFi Paste.ubuntu.com/25441736

[2017-09-01 11:08] DxCx commented on #120
hey @Milkshake9999 there was an issue with the website itself yesterday
it didnt work for me either, i've confirmed now it is back to be functional (both site & plugin)
can you give it another try?

[2017-09-01 11:10] DxCx commented on #119
hey @wikd i don't have android hence i cannot really support it.
also, it looks like this is Kodi 16.

Kodi 16 is missing some https (ssl) extention and this is the reason the addon is not avaliable there.

in order to make plugin compatible with Kodi 16 a custom server in the middle is required, which i dont have also and cannot effort the monthly expenses for.

[2017-09-01 11:15] DxCx commented on #112
couldn't see anything suspicious in the logs
ok so @cbizzle14 now everything is working properly?

[2017-09-01 13:15] wikd commented on #119
Oh, ok, thanks for taking a look. Guess just have to wait until spmc updates to 17.

[2017-09-01 14:46] Milkshake9999 commented on #120
It's working now thanks for the help and thanks for making this wonderful Addon ;)

[2017-09-01 14:47] #120 closed

[2017-09-01 15:38] #119 closed

[2017-09-01 18:26] cbizzle14 commented on #112
Checked both devices and search is working on both

[2017-09-01 19:01] deathmake317 commented on #119
@wikd @DxCx  spmc has been updated to a beta branch of krypton 17.4  it does work on it

[2017-09-01 20:08] #112 closed

[2017-09-03 18:19] pghnismo opened #121 "plugin crashes kodi 95% of the time when playing a video (update Xenial issue)"
i've had this  plugin working fine on  my  rpi  as well as windows,  the  issue i'm having is  running it on  linux  the moment i select a video  95% of the time  it causes a  segfault and closes  kodi  leaving a  crash log. i'm running  kodi  17.4  on  linux mint  18.1  any help  or direction  would  be greatly appreciated  i've attached the log that kodi  produces on  segfault

[kodi_crashlog-20

[2017-09-04 06:18] DxCx commented on #121
hey @pghnismo
from the log the only error is related to indigo thingy: "/home/fr0th/.kodi/addons/plugin.program.indigo/service.py"
not sure what is that.

but please reply this with logging enabled: go to settings (Gear icon) => System Settings => Logging => enable first.
then repeat the process and send a detailed log.
also, the crash happens as soon as you play like when selecting sources? or ju

[2017-09-04 16:05] pghnismo commented on #121
the crash happens both when  selecting something like  latest or when selecting the video , it does not make it to the source page the moment the video is selected kodi  force closes .

as for indigo it was an old installer program for a repo.   i uninstalled it just  because it no longer works

 here is the log requested as well as current crash log
[kodi.txt](https://github.com/DxCx/plugin.video

[2017-09-05 07:17] DxCx commented on #121
looks like to me that the python interpeter causes the crash,
but i cannot find anything that can indicate reason..
did you try it on other linux computer/distro? i originally developed the addon over linux and later on moved to mac but it was working..

[2017-09-05 13:15] pghnismo commented on #121
i'm thinking this is due to kodi updating  possibly.

also,  what version of python was this written for ? i'm  using  version 2.7.12

i'll try  removing  my kodi folder  and reinstalling everything  after i get home and reply the results.

[2017-09-06 05:25] DxCx commented on #121
no sure which python version but it is 2.x,
it is bound to kodi version as kodi comes with the interpreter.

[2017-09-06 12:58] pghnismo commented on #121
not sure whats causing it, i  ran "apt-get remove kodi"  "apt-get purge kodi"  deleted all userdata in my home folder , reinstalled a fresh copy  and only installed the plugin with the same result
[kodi_crashlog-20170906_085717.txt](https://github.com/DxCx/plugin.video.9anime/files/1281117/kodi_crashlog-20170906_085717.txt)
[kodi.txt](https://github.com/DxCx/plugin.video.9anime/files/1281123/kodi.

[2017-09-11 14:33] DxCx commented on #121
which distro are you using? i'll try to run it under a VM..

[2017-09-13 19:25] gaining opened #122 "Addon dependency not met python 2.25.0"
Hi, I tried to update to the newest version to ftmc kodi, a version of kodi with https that runs on android kitkat but I'm having this dependency error. However, when installing it (v0.0.19) from a backup, using the backup addon, it installs and works fine. Is there a way to fix this without needing to use a backup? It seems that dependency check isn't really needed.

[2017-09-13 22:01] pghnismo commented on #121
i think i have figured out the issue,  i'm running mint 18.2  which is  ubuntu  xenial,  when  kodi went to krypton  it changed the version of  python-cryptography and python-openssl    and that's what makes  kodi segfault .  i have to find a way to update  those items without breaking the system dependencies  for it to function

[2017-09-14 10:10] DxCx commented on #121
hmm, Im happy you've found the root cause.
im not a big fan of mint myself, but aren't there repo that gives you kodi out-of-the-box?

[2017-09-14 10:13] DxCx commented on #122
hmm,
the idea behind this was to allow only kodi 17+.
below that it won't work, and then there are issues flooding here about that..

that sounds to me like an issue with ftmc, if its based on kodi 17 it should be able to allow python 2.25.0

[2017-09-15 00:03] gaining commented on #122
it's based on Kodi 16 but has https. When installed via backup add-on everything works. Could maybe the dependency check be an https check instead of the python version?

[2017-09-15 14:30] DxCx commented on #122
im sorry @gaining but i dont feel i can help much as i said before..
unless you will let me know which other capability will work there and on kodi 17 and not on kodi 16, i don't know one myself...

[2017-09-16 02:14] gaining commented on #122
Never mind, I modified you addons.xml file so that it could install on my kodi.

[2017-09-16 02:14] #122 closed

[2017-09-16 13:13] pghnismo commented on #121
https://forums.linuxmint.com/viewtopic.php?t=241948&start=20#p1299763

i found a solution that didn't break anything and seems to have resolved my issue.

it does  have kodi  from a repo but the  python-openssl and python-cryptography versions  on the OS were  too old which caused the segfault, this is also an issue for ubuntu 16.04 LTS  as well.

thank you for pointing me into the direction with

[2017-09-16 17:25] DxCx commented on #121
sure thanks @pghnismo for sharing your solution incase someone in the future will tackle it. =)

[2017-09-16 17:25] #121 closed

[2017-09-20 09:30] vader913 commented on #122
@gaining how did you install it on ftmc? I've been trying also...could you let me know? Thanks!!!

[2017-09-20 17:06] gaining commented on #122
It's more of a small hack than anything. Download the addon in the form of a zip, extract it, locate and open the addon.xml file, fine line:   `<import addon="xbmc.python" version="2.25.0" />` replace it with `    <import addon="xbmc.python" version="2.1.0"/>` save the file than rezip the addon. You'll be then able to install it in ftmc and everything works as it should.

[2017-09-20 20:28] vader913 commented on #122
@gaining Awesome Thank you buddy!!!! It worked!!!! Cheers!!!!

[2017-10-03 01:16] giftedx29 opened #123 "kodi crashing on using server F4"
everytime i use source F4 it crashes, works on rapidvideo and mycloud, openload

[2017-10-04 20:59] DxCx commented on #123
crashes? whole kodi? or just returns error?
F4 sources are tended to be deleted unfortunately..

[2017-10-05 00:07] giftedx29 commented on #123
Whole kodi and no codes when crashing that I am aware of. I can try and
double check system log but not sure how to do it on nvidia shield normally
I always SSH into my boxes

On Wed, Oct 4, 2017 at 4:59 PM Hagai Cohen <notifications@github.com> wrote:

[2017-10-06 06:57] DxCx commented on #123
this is probably issue with kodi itself rather then the plugin,
but can you share your debug log please?

[2017-10-08 01:17] Tryouthub opened #124 "Add-on not found in repository"
Hi, I can't pull the add-on from the zip using Kodi on x96. The repository is there, but not the actual add-on. Thanks.

[2017-10-08 02:23] #124 closed

[2017-10-08 02:41] Tryouthub commented on #124
I fixed the issue. I had factory reset my Kodi box and it was not up to date. I tried to update from google play, but it said I had the most recent version, but I obviously didn't because it didn't say Krypton at start up. The confluence or whatever skin was default and very bothersome compared to the simple layout of v17 krypton. So I uninstalled Kodi completely and reinstalled it. I re-added all

[2017-10-08 05:21] DxCx commented on #124
Cool, Thanks for the update! might be helpful for someone in the future 👍

[2017-10-11 16:20] giftedx29 commented on #123
[kodi.log](https://github.com/DxCx/plugin.video.9anime/files/1376376/kodi.log)

[2017-10-11 22:03] DxCx commented on #123
not sure what's going on in there, but your log is full of IO errors,
can you try and reset kodi's data? (remove the whole data directory, then reinstall the plugin and try)

[2017-10-14 20:59] HatHeadNinja opened #125 "Nothing will stream"
Hello - firstly, thank you for making and maintaining my favorite plug-in!

Although it seems my versions of Kodi and the 9anime plugin are current and no known changes were made to my configuration, I am currently unable to stream titles, even titles that I streamed successfully several days ago.

The title plays on the website but not through the plugin, although, for the 1st attempt, the little

[2017-10-15 19:23] HatHeadNinja commented on #125
Fine now! Must have been some hocus-pocus at host.

[2017-10-15 19:23] #125 closed

[2017-10-15 21:08] Theangelofspace15 opened #126 "rapidvideo taking for ever"
it started yesterday. but when I activate rapidvideo as 1 of tge server it takes forever in the fletching sources screen. amd noother server works. f4 doesnt work anymore, cloud always give a error, and openload need catch.

[2017-10-21 03:12] pjcanales opened #127 "Login"
Any chance of putting a way to log in and save our shows to get them faster to keep up with latest?

[2017-10-21 03:23] pjcanales opened #128 "Openload links"
Hello have real debrid and when I click openload it ask to pair from olpair.com. before it would work right away with my debrid but now it doesnt.

[2017-10-22 01:11] Dranzera opened #129 "can't find eliable sources"
Hi I'm trying to play Foodwars 3rd season, dragon ball super and Yugioh GX and they don't work in Kodi. I have the latest version of Kodi. These anime do play on your website.

[2017-10-24 08:58] DxCx commented on #127
Duplication of #23.

This feature requires time that i dont have much anymore,
im trying to maintain the plugin and make sure it works, but i cannot effort more bandwidth then that..

i've tried to raise donations so i can take some time off and do some enhancements (login was one of them), but noone donated even one cent...

[2017-10-24 08:58] #127 closed

[2017-10-24 09:00] DxCx commented on #128
Duplication of #16

there is nothing i can do about that right now,
i can pass openload verification thingy but they change algorithem alot, so until i'll have more time for maintainece i've decided to use url resolver for openload which loads with pairing.

[2017-10-24 09:00] #128 closed

[2017-10-24 09:01] DxCx commented on #126
hey @Theangelofspace15
i was on a vacation with limited connecitiviy so sorry for the delay,
i've used the addon lastnight watching rapidvideo source and it was working fine,
do you still have an issue with that?

[2017-10-24 09:02] DxCx commented on #123
no response for long time :\ reopen if still relevant...

[2017-10-24 09:02] #123 closed

[2017-10-24 20:20] HackedGameMaker opened #130 "Should add server g1 and g2"
I've put a request in to add some things I'm not sure if you've seen them yet, one of those requests was to add servers g1 and g2 because they added them to their website.

[2017-10-25 02:17] sillieidiot opened #131 "Can't install repo on Kodi 17.5"
When doing a clean install, I couldn't get Kodi to open the repo zip file. But doing an clean install with Kodi 17.4 works fine.

[2017-10-26 07:02] DxCx commented on #131
sounds to me like .xml problem,
im using mac os and brew don't have the update yet, i guess it will be released on the next few days and i'll upgrade and check that out.
will keep you updated.

[2017-10-26 13:29] ThienJP commented on #130
here's an example link: https://9anime.to/watch/fullmetal-alchemist-brotherhood.0r7/8y8r1q

[2017-10-27 12:45] miasmaejuices commented on #130
@DxCx - I've posted two pull requests to add the G1 and G2 servers.  They're a little hacky, as I don't understand the whole plugin, but I've tested them on a clean install of 18.0 ALPHA1-x64 (latest github nightly) and they work fine.

To get it to work on 18.0 ALPHA1, I had to install the latest script.module.urlresolver (4.0.08) from https://github.com/kodil/kodil.

Hope that saves you some tim

[2017-10-27 12:53] miasmaejuices commented on #130
Side note - Server G2 seems to contain only 720p video.  My preferences are for 720p anyway, so this may be an issue that needs looking at.

[2017-10-27 13:50] miasmaejuices commented on #129
These are available on the G2 server. I just tested them, and they function properly.

The G2 server is not yet available in the current version of the plugin.

[2017-10-27 15:33] #130 closed

[2017-10-27 15:36] DxCx commented on #129
hey @Dranzera just checked it and it is working on both rapidvideo and openload
are you still having this issue?

[2017-10-27 15:40] miasmaejuices commented on #129
Just tested the new code with the G2 server, and all of those shows are working.

[2017-10-27 15:54] Dranzera commented on #129
I have put the latest update (version 0.0.19) in Kodi.
Dragon Ball Super doesn't work in Kodi, Foodwars 3rd season doesn't work, Yugioh GX doesn't work either. I don't know why it doesn't work for me.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Miasma <notifications@github.com>
Sent: Friday, October 27, 2017 11:40:35 AM
To: DxCx/plugin.video.9anime
Cc: D

[2017-10-27 16:11] DxCx commented on #129
on what HW your Kodi is working?

[2017-10-27 16:11] miasmaejuices commented on #129
In the settings, make sure to enable G1 and G2, I don't know if they're enabled by default.

[2017-10-27 16:16] Dranzera commented on #129
I don't know what an HW is but it's on a PC and it's the newest version of Kodi.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Friday, October 27, 2017 12:11:28 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#129)

on what HW your Kodi is

[2017-10-27 16:18] miasmaejuices commented on #129
@DxCx updated the repository and plugin but the G1 and G2 servers aren't listed. Doesn't look like the changes are being picked up. Still version 0.0.19. could that be the issue?

[2017-10-27 16:23] DxCx commented on #131
hey @sillieidiot
i've installed Kodi 17.5 and it's working perfectly
can you retry and provide more useful info?

[2017-10-27 16:24] DxCx commented on #129
0.0.20 was released few minutes ago, it contians support for G1/G2.
However, all sources should work now (Working here at least)
Dranzera, can you please enable debug logging and upload the kodi.log after it fails?
i want to see why it fails

[2017-10-27 16:42] Dranzera commented on #129
I tried that but I don't know where the log iself ìs it's not where it tells me to look. How do I find this log?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Friday, October 27, 2017 12:24:53 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources

[2017-10-27 17:01] DxCx commented on #129
Which operation system?

[2017-10-27 17:02] Dranzera commented on #129
I have a Windows 8.1

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Friday, October 27, 2017 1:01:51 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#129)

Which operation system?

—
You are receiving this because you were mentioned.
Reply

[2017-10-28 00:53] miasmaejuices commented on #129
@Dranzera - Ok, did some testing, here's what I found:

- For some reason, on 17.3 and 18.0 ALPHA1, the only versions available are those cached in the downloaded addons
 - Kodi doesn't want to refresh the repo for this plugin, and states it's still 0.0.19
 - Uninstalling the repo addon, then reinstalling it, may solve the issue
 - Uninstalling and reinstalling the 9anime addon may also solve the

[2017-10-28 00:56] miasmaejuices opened #139 "[REQ] Open up the Wiki for editing"
As there are multiple platforms, and varying versions of Kodi in the wild, it might be a good idea to open up the Wiki, so we/I can contribute by way of tutorials and workarounds.

I feel these things shouldn't be in the code repo, otherwise it just bloats.

Would be a good place to add things like FAQ's etc.

[2017-10-28 01:13] Dranzera commented on #129
Thanks a lot now they work! I guess sometimes the most simple thing is a solution.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Miasma <notifications@github.com>
Sent: Friday, October 27, 2017 8:53:57 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Mention
Subject: Re: [DxCx/plugin.video.9anime] can't find eliable sources (#129)

@Dranzera<https://github.co

[2017-10-28 08:26] DxCx commented on #139
Ofcourse! Thanks alot! :)
Ive just created the first page, is that enough for you to edit?
Do i need to do more stuff to make it happen?

[2017-10-28 11:52] miasmaejuices commented on #139
@DxCx - Hmmm, looks like there may be permissions involved, as I don't have access.  It's ok.  There's no rush. It might need some testing at some point to see how it can be done.  I usually use gitlab or self host, so not sure how github handles permissions.  I assumed it would be similar to code, you know: fork => edit => pull => merge.  If you need a little help, just let me know.  Maybe we can

[2017-10-28 11:58] miasmaejuices commented on #139
Ok, so it looks like there is indeed permissions. [https://imgur.com/SIxMdy2](url)

It seems that if you want it publicly editable, you need to remove check for restrictions in:

Settings => Options => Restrict editing to collaborators only

Either that, or add the people you want access to editing to:

Settings => Collaborators => Add collaborators

Like this: [https://imgur.com/tpsYj0T](url)

Ho

[2017-10-29 21:55] DxCx commented on #139
just added you as collaborator.. 👍

[2017-10-29 21:55] #139 closed

[2017-10-29 21:55] DxCx commented on #126
Closed due to inactivity.

[2017-10-29 21:55] #126 closed

[2017-10-29 21:56] DxCx commented on #129
Thanks @miasmaejuices 👍

[2017-10-29 21:56] #129 closed

[2017-11-01 06:19] XxkingkrowxX opened #140 "G2 link not working for me"
Like the tittle says g2 links will not start I just get the log thing. Turned g2 links off and streaming just fine now. Thought I should let you know. Thanks for the great work

[2017-11-03 01:48] miasmaejuices commented on #140
Thanks.  This isn't an issue with the addon.  9anime have removed the G1 and G2 servers.  Unfortunately, all thats left (mostly) is RapidVideo; MyCloud and OpenLoad.

Downloads have also been disabled.

Unfortunately, it seems they have hosting issues.

[2017-11-04 18:13] DxCx commented on #131
Closing due to inactivity

[2017-11-04 18:13] #131 closed

[2017-11-04 23:33] XxkingkrowxX commented on #140
Ok not to big of an issue other than the others being a lot slower sometimes. Thank you for the hard work

[2017-11-04 23:33] #140 closed

[2017-11-04 23:34] XxkingkrowxX commented on #3
Is there any way to use script from say covenant to make this work? And easier?

[2017-11-09 15:19] miasmaejuices commented on #140
Just a short note to tell you that the G2 servers are running again.  Looks like they sorted out their issue.

[2017-11-11 19:26] writetome1 commented on #122
Thank you buddy!!!! It worked also for me !!!! Cheers!!!! Very simple, most effective !!!

[2017-11-11 22:17] Miwer opened #144 "Exception in NineAnimeBrowser.py"
Hi,
Just want to let you know of this exception I came across, while using this plugin. If somehow the site is unresponsive, or give an empty list of sources, I get this in the log:

[code]

I think an empty check is needed after assigning the `servers` variable in line 144, before running the max() on it in line 145.

[2017-11-12 06:41] DxCx commented on #144
hey @Miwer
8 hours ago 9anime website was down,
when website is down, addon won't work.
please give it a try now as it is working again

Thanks for the report though

[2017-11-12 11:39] Miwer commented on #144
Hi @DxCx
Yeah I noticed the website had problems, after seeing this error. Still I think it'd be worth reporting this, in case you wanted to clean up some bugs along the way. Crashes like these should be avoided, when possible. I also didn't like the message about possible memory leaks - that's always a bad thing :D

Anyway, I can't reproduce the error now that the site is working again, so this i

[2017-11-12 13:02] ipanggabean opened #145 "Add G3 Server"
I don't know since when, but they have added another server which is G3 Server. Can you add this server as source?

Example link can be found here: https://9anime.is/watch/one-piece.ov8/w8kppk

[2017-11-12 13:35] miasmaejuices commented on #145
Thanks.  Investigating.

[2017-11-12 13:47] miasmaejuices commented on #145
Latest patch applied, Added and tested G3 server.
Waiting for release v0.0.22

If you cant wait for the release, you can grab the [master.zip](https://github.com/DxCx/plugin.video.9anime/archive/master.zip) directly.

[2017-11-13 07:10] DxCx commented on #144
the memory leak thingy in this case can be ignored
and yeah it will probably be better to test for this case ahead and give proper message to the user.
that's the reason i kept the issue open

[2017-11-13 07:11] DxCx commented on #145
Thanks @miasmaejuices 👍

[2017-11-13 07:14] DxCx commented on #145
v0.0.22 is released. 👍

[2017-11-13 07:14] #145 closed

[2017-11-13 18:40] ebby84 opened #147 "9anime slow loading"
addon seems to load very slow..is it only me??anyway great addon as always..thank you

[2017-11-14 03:18] DZY90 opened #148 "error getting directory"
18:57:58.824 T:9440   ERROR: XFILE::CDirectory::GetDirectory - Error getting plugin://plugin.video.9anime/
18:57:58.827 T:9440   ERROR: CGUIMediaWindow::GetDirectory(plugin://plugin.video.9anime/) failed
19:11:47.530 T:9440   ERROR: Control 55 in window 10025 has been asked to focus, but it can't
19:11:48.043 T:1016   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script retur

[2017-11-14 04:41] #148 closed

[2017-11-14 04:42] DZY90 commented on #148
NVM I uninstalled kodi then reinstalled it's back working

[2017-11-14 12:34] #144 closed

[2017-11-14 12:36] DxCx commented on #147
hey @ebby84

do you mean in general?
or it was working good before and then just started to happen and then you've opened the issue?
it happened to me couple of times before,
this happens when there is alot of pressure on 9anime servers.
the latency you are feeling comes from there.

[2017-11-15 13:38] miasmaejuices commented on #147
I've personally found that it takes 5-10 seconds to load each page, as it has to scrape 9anime for data.

Other than that, it's fine here.

[2017-11-15 15:32] ebby84 commented on #147
thanks for the reply bro..i guess it was the server..working great now..tq so much

[2017-11-16 10:09] #147 closed

[2017-11-16 20:24] silvatyrant commented on #84
@DxCx which source are you looking at using for this? MAL or something?

[2017-11-20 07:39] DxCx commented on #84
I think that most of the info exists in the exisiting 9anime website..
I just want to set xbmc item with additional information..
If We will need to add extra call for more api then it not worth it, maybe addig the posabilty to add to library so people can set a different scrapper will be a better solution

[2017-11-21 20:23] Chup123 opened #150 "Server F2 never plays"
It is the only 1080p server for me, is this an issue on their site or a bug in the addon?

[2017-11-21 20:25] miasmaejuices commented on #150
@Chup123 - F2 is mostly no longer available on 9anime.  Have you got an example link I can test with?

[2017-11-21 20:26] Chup123 commented on #150
It still shows up on HunterXHunter (2011) episode 101. But many episodes before did also show server F2

[2017-11-21 20:50] miasmaejuices commented on #150
Log snippets:

`
NOTICE: VideoPlayer::OpenFile: https://<gdrive url>
`
`
ERROR: CCurlFile::Stat - Failed: HTTP response code said error(22) for https://<gdrive url>
`
`
ERROR: CCurlFile::FillBuffer - Failed: HTTP returned error 403
`
`
ERROR: CCurlFile::Open failed with code 403 for https://<gdrive url>
`
`
ERROR: XFILE::CFileCache::Open - failed to open source <https://<gdrive url>
`
`
ERROR: CVi

[2017-11-23 07:32] DxCx commented on #150
I'll try to take a look over the weekend,
the thing is every time F2 is fixed and working and it is removed 1 week after.. :\

[2017-11-25 06:43] JavierZ667 opened #151 "Can't find eligible sources"
The app was working fine this afternoon a few hours ago, took a nap and it no longer works. I get an error that states "couldn't find any eligible sources", I've attached an image of the log

![img_20171124_223721893](https://user-images.githubusercontent.com/28639105/33228120-6a72a636-d168-11e7-896c-48f67cfbe0b3.jpg)

[2017-11-25 07:29] JavierZ667 commented on #151
According to Reddit the 9anime site itself might be having some issues.

[2017-11-25 08:00] lap00zza commented on #151
Similar issue: https://github.com/lap00zza/9anime-Companion/issues/106

If I am able to fix it, I will let you guys know.

[2017-11-25 10:01] grabberboy opened #152 "9anime update please help"
i was worried no source are available
until i look on 9anime
there are new on their system
https://9anime.is/ajax/episode/info?ts=1511600400&_=2667&id=4vpz3o&server=22&update=0

the Token and options are now encoded on something
and maybe from all.js can decrypt the token and options for the grabber url

please help someone loook on this

[2017-11-25 11:24] grabberboy commented on #152
@hoppler
@DxCx
@

[2017-11-25 18:57] hoppler commented on #152
the encryption is rot_8. @DxCx id be glad if you could remove donations from this repo as im doing this not for the money. please keep in mind that this plugin is not that legal

[2017-11-25 20:45] DxCx commented on #152
Thanks for the report @grabberboy i'll take a look at that when i have time, hopefuly in the next few days. and thanks for the tip @hoppler :D

Im not doing this for money as well,
also no one ever donated a penny yet.
the donations is just for those who want to support and cannot do it with pull requests...
about legal, this is just a browser addon, it does not do anything else then simple http b

[2017-11-26 03:44] JoshToshiro commented on #151
Been having the same issue since yesterday. Can’t find eligible sources. Tried different animes and different episodes and got the same response. Also uninstalled and reinstalled again but no luck.

[2017-11-26 03:46] JoshToshiro commented on #151
![6847d785-4471-43a9-92a5-bb663889e8c8](https://user-images.githubusercontent.com/33974559/33236961-76f052f8-d232-11e7-976f-05de82e3e902.jpeg)

[2017-11-26 04:09] W94545 opened #153 "9anime on Kodi for firestick "cannot find eligible sources" issue"
Last night, 9anime worked just fine on firestick but when I woke up this morning, I kept getting "couldn't find eligible sources" messages every time I play a video. So far I've tried everything to troubleshoot, even this method https://github.com/DxCx/plugin.video.9anime/issues/31 and nothing works. May I ask, is the site down?

[2017-11-26 04:59] grabberboy commented on #152
new update again from 9anime
the Ts is now Encrypted too
anyone knows the encription method?

[2017-11-26 06:37] DxCx commented on #153
duplicate of #152

[2017-11-26 06:37] #153 closed

[2017-11-26 06:38] DxCx commented on #152
duplicate of #151 let's move discussion there.

[2017-11-26 06:38] #152 closed

[2017-11-26 06:49] grabberboy commented on #151
@DxCx
@hoppler
can i ask the encryption method used in ts variable?

Thanks

[2017-11-26 08:13] lap00zza commented on #151
@grabberboy https://github.com/lap00zza/9anime-Companion/issues/106#issuecomment-346991551

[2017-11-26 10:42] DxCx commented on #151
hey @lap00zza not sure if `ts` has rot8 or not,
rot8 is used inside the info you get back ("target" for example)

i'll need to debug further to get more info about `ts` but looks like it's not raw as it used to be,
it is now encoded using something that looks like base64 but not base64 (Maybe base64 with custom table?)
also, keep in mind that it might be also just a rotated base64..

[2017-11-26 13:47] #151 closed

[2017-11-26 13:48] DxCx commented on #151
So eventually `ts` was base64 as i suspected with a small encoding before it.

version 0.0.23 was released, enjoy.

[2017-11-26 14:50] Prometheusx-git opened #156 "9anime on Kodi for firestick "cannot find eligible sources" issue again"
Hi, version 0.0.23 doesn't work anymore.
They have changed the encryption from rot-8 to something else...

[2017-11-26 14:57] grabberboy opened #157 "new update again"
it seems they update again

the token and options are not in rot 8 anymore

@DxCx @hoppler  please look :(

[2017-11-26 15:09] Boosik commented on #157
WTF are they trying to block this addon or what? 😮

[2017-11-26 16:01] DxCx commented on #157
Released a fix, enjoy.

[2017-11-26 16:01] #157 closed

[2017-11-26 16:07] JoshToshiro commented on #151
When I went to update the add-on, it says there aren’t any updates currently available and I still have version 0.0.21 . Should I just uninstall and reinstall again?

[2017-11-26 16:25] DxCx commented on #151
You should go to repo and force refresh it..
Right now you get cached results
On Sun, 26 Nov 2017 at 18:07 JoshToshiro <notifications@github.com> wrote:

[2017-11-26 17:33] JoshToshiro commented on #151
No luck. I’m not even sure if I did what you said correctly because the only option I saw was “check for updates” . I clicked that option for the repos but I didn’t get an update notification for 9anime. Is there anything else I can do?

[2017-11-26 17:34] JoshToshiro commented on #151
Sorry for being a bother.

[2017-11-26 17:38] DxCx commented on #151
that might help you
https://www.youtube.com/watch?v=cJtaNyWj5uE

[2017-11-26 18:23] JoshToshiro commented on #151
I followed the tips from the video but still haven’t received the update, sorry.

[2017-11-26 20:01] marctilalis commented on #150
It would be really nice if you could actually fix the link since it's the only 1080p. Just one question since i'm new. Can't you add like 1 or 2 more 1080p sources?

[2017-11-26 22:14] JoshToshiro commented on #151
Still having no success. I’ve cleared cache, forced add-on updates, force refresh repo , and force Kodi to close and reopened again and repeated the same process several times. Is anyone else struggling with this? If not, I would appreciate tips or any type of help to get 9anime add-on working for me again.

[2017-11-26 22:22] tinymovingparts commented on #151
This rarely happens to me but it does. It should auto update tomorrow if all else fails. For right now go to
1. add ons
2. click the package icon on top right (addons/addon browser)
3. install from repository
4.scroll down to 9anime kodi repository and right click (list button for fire stick remote)
5. click information -> update
These steps should update it do the latest version.

[2017-11-26 22:26] JoshToshiro commented on #151
![4d7e4621-5ee9-4bcf-bca7-2ce1ff62d5b6](https://user-images.githubusercontent.com/33974559/33244950-ed3ee0e0-d2ce-11e7-8228-6b2517b74b11.jpeg)
![Uploading 85F9843D-D83D-41F5-BB97-49497DB60BF4.jpeg…]()

[2017-11-26 22:27] JoshToshiro commented on #151
Not sure if those images would help solve the problem.

[2017-11-26 22:28] tinymovingparts commented on #151
did the steps not work?

[2017-11-26 22:29] JavierZ667 commented on #151
Mine updated automatically, didn't have an issues on my end. If all else fails you can try reinstalling both Kodi and 9anime

[2017-11-26 22:29] miasmaejuices commented on #151
I'm seeing a lot of 404 errors.  If I didn't know better, I'd say you're not connected to the internet...

[2017-11-26 22:31] JoshToshiro commented on #151
I’m connected, I just checked.

[2017-11-26 22:31] JoshToshiro commented on #151
And I’m trying those steps you sent up there now.

[2017-11-26 22:32] miasmaejuices commented on #151
@JoshToshiro - Those messages you posted have no dates on them, and are not related to the 9anime plugin.  Can you scroll up or down to find more relevant messages?

[2017-11-26 22:33] JoshToshiro commented on #151
@miasmaejuices ok.

[2017-11-26 22:36] JoshToshiro commented on #151
@tinymovingparts what confuses me is that I don’t have a repository that is specifically named after 9anime. I only see Kodi Add-on repository. I don’t know if downloading 9anime from the .zip file had anything to do with that though.

[2017-11-26 22:37] tinymovingparts commented on #151
Yes it does. These steps will only work if you installed the addon from the repository. If you only download the zipfile then your getting the addon alone and will not have auto updates.

[2017-11-26 22:38] JoshToshiro commented on #151
@tinymovingparts ohhh ok. So if I uninstall and reinstall from repository, it could work?

[2017-11-26 22:39] JoshToshiro commented on #151
Anyone mind telling me how to go about installing 9anime from the repository? 😅 sorry for being a bother.

[2017-11-26 22:40] tinymovingparts commented on #151
yes it should. installing the repository will give you the latest addon version and have auto updates. it should be in the instructions area if im not mistaken this page has been heavily revamped since i last saw it.

[2017-11-26 22:41] miasmaejuices commented on #151
I have updated the wiki section with the instructions.

On Mon, 27 Nov 2017, 11:40 tinymovingparts, <notifications@github.com>
wrote:

[2017-11-26 22:43] JoshToshiro commented on #151
@tinymovingparts @miasmaejuices - I will go look for the instructions now.

[2017-11-26 22:43] tinymovingparts commented on #151
ok make sure you click the standard option. What kind of device are you using?

[2017-11-26 22:45] JoshToshiro commented on #151
@tinymovingparts - ok. And I’m using the Amazon Firestick

[2017-11-26 22:50] tinymovingparts commented on #151
let me know if you have any issues following the fire stick steps as they are not up todate for repo and follow the steps of using the master zip file on step 7

[2017-11-26 22:54] miasmaejuices commented on #151
@tinymovingparts - would you be willing to help me fix up those steps? I
don't have access to a firestick, so any information would be awesome :)

On Mon, 27 Nov 2017, 11:50 tinymovingparts, <notifications@github.com>
wrote:

[2017-11-26 22:55] tinymovingparts commented on #151
sure I will clear out my kodi and do a quick run through and journal the steps. do you need it in a pull request?

[2017-11-26 23:00] miasmaejuices commented on #151
It would be easier, but if you want to just post the edited steps here, I
can paste them straight into the wiki. I don't mind either way :)

On Mon, 27 Nov 2017, 11:55 tinymovingparts, <notifications@github.com>
wrote:

[2017-11-26 23:03] JoshToshiro commented on #151
@tinymovingparts @miasmaejuices @JavierZ667 @DxCx - 9anime works fine for me now! Thanks so much for your help guys!! And I followed the steps of the standard installation and it’s working for my Firestick. But I did have to use the downloader app to get the .zip file of he repository for the first step but everything flowed pretty well afterwards. Thanks again guys!

[2017-11-26 23:03] JoshToshiro commented on #151
*the

[2017-11-26 23:05] tinymovingparts commented on #151
@JoshToshiro awesome to hear you should also have auto updates for the addon so this shouldnt happen again.

@miasmaejuices I will put them on this thread for you to just throw in the wiki.

[2017-11-26 23:13] tinymovingparts commented on #151
@miasmaejuices
	1.	Once opened, enter in the URL https://goo.gl/p9Lde0 then click go
	2.	After the app has finished downloading, close out the app
	3.	Open up Kodi and click on add ons
	4.	Scroll up to the icon of the package and click on it
	5.	Scroll to “install from zip file”
	6.	Scroll down to External Storage and open folder, then open the downloader folder
	7.	Inside the downloader folder fi

[2017-11-26 23:13] miasmaejuices commented on #151
@JoshToshiro - Excellent, great to hear.

@tinymovingparts - No problems.  As soon as you post them, I'll fix it up.  Thanks 👍

[2017-11-26 23:17] tinymovingparts commented on #151
@miasmaejuices I have it up also on the android box section you can add

11.	Click on the zip file and the repo will install.
12.	Once installed go to install from repository
13.	Select '9Anime Kodi Repository'
14.	Select 'Video add-ons'
15.	Select '9Anime'

there little steps but details are important for those who arn't familiar with the ins and outs of kodi and addon/ repos

[2017-11-26 23:18] miasmaejuices commented on #151
@tinymovingparts - Wiki is updated. Thanks mate, that's awesome.  If ever you're resetting your Fire Stick, screenshots would be really handy as well.  But only if you ever get round to it, no pressure 🥇

[2017-11-26 23:24] tinymovingparts commented on #151
@miasmaejuices steps for android box updated steps now that each instruction has its own sections

	1.	On the side tool bar of ES Explorer, scroll down to the newly added dxcx and click it
	2.	scroll down and click the standard installation link
	3.	Click the "here" link on step one
	4.	After it downloads exit out of ES File Explorer
	5.	Open Kodi.
	6.	In Kodi click on addons
	7.	Click the icon th

[2017-11-26 23:58] W94545 commented on #151
I tried uninstalling then reinstalled with 0.0.3 zip and even force update. Although 9anime app open just fine in Firestick, it still gives me "couldn't find eligible sources" notification.

[2017-11-27 00:47] miasmaejuices commented on #150
@marctilalis - the sources are provided by 9anime, not the plugin.  If the sources are available on the 9anime site, then they can be added to the plugin.

@DxCx is not responsible for what sources are available on the 9anime site.

[2017-11-27 00:51] marctilalis commented on #150
Oh! Can he fix though the F2 problem?

[2017-11-27 00:53] miasmaejuices commented on #150
Hopefully, yes.  But troubleshooting needs to take place first.  Use the
other sources like G2 for now.  Yes it's limited to 720p, but at least it
works. :)

[2017-11-27 01:34] XemnasBlood opened #162 "9anime plugin not working on iphone"
i have an iphone 10.2 jailbroken with latest kodi on it 17.6 krypton, whenever i click on 9anime it doesnt open, any other addon it works. im able to install it and everything but unable to open it, i attached the log from kodi as the error is check log for more info
[kodi.log](https://github.com/DxCx/plugin.video.9anime/files/1504455/kodi.log)
i tried all the solutions of changing the browser to

[2017-11-27 02:47] DjDarkAssassin opened #163 "9anime isnt downloading in kodi on raspberry pi"
I wanted to download the 9anime plugin on kodi, which I have on my raspberry pi. Since I couldn't use file manager, I just downloaded it on my PC and transfer the zip file to a flash drive and downloaded it from there. Once I go to "Install from repository", there's the 9anime respository, and whenever I try to install it, it says ,"failed to install a dependency". Any help on this or other ways I

[2017-11-27 03:01] tinymovingparts commented on #163
Not to familiar with raspberry pi, are you downloading the repository zip file or the master zip file for the addon?

[2017-11-27 03:04] DjDarkAssassin commented on #163
Im downloading it from the repository zip file

[2017-11-27 03:07] tinymovingparts commented on #163
where do you paste the zip file when you transfer it to the Pi? you dont open the file at all, right?

[2017-11-27 03:09] DjDarkAssassin commented on #163
I paste it in a USB flash drive, and yes, I don't open it at all.

[2017-11-27 03:13] tinymovingparts commented on #163
If anything I would suggest starting from scratch. Clear your flash drive, re-download the repo zip file on to the flash drive plug it in to the pi (but dont paste it anywhere leave it on flashdrive). Open Kodi, go to install from zip. Navigate through the storages to get to your flash drive storage and find the repo.plugin.video.9anime-0.0.3 zip file. click on it and it should install the repo. a

[2017-11-27 03:16] tinymovingparts commented on #163
I failed to mention this re reading the original post, are you using Kodi Krypton?

[2017-11-27 03:19] DjDarkAssassin commented on #163
I will test that out right now. Yes, I am using Kodi Krypton.

[2017-11-27 03:31] DjDarkAssassin commented on #163
It still fails. Since I have a dual boot which can go from linux (Raspbian) to Kodi, do you think it is better to just download it on raspbian then switch back to Kodi and downloading it using the one I downloaded from Raspbian?

[2017-11-27 03:36] tinymovingparts commented on #163
Kinda lost in what you want to try and do. Would it be possible to explain step by step what you are doing and indicate where it fails?

[2017-11-27 03:45] DjDarkAssassin commented on #163
First, I download the zip file and paste it in my flash drive, without doing anything. Second, I put the flash drive in my raspberry pi. Third, I go to Add-on browser then go to install from zip file, and click repo.plugin.video.9anime-0.0.3. Third, I go to install from repository, and go to the 9anime repository. Fourth, I go to Video Add-ons in the repository, and click on 9anime, and click inst

[2017-11-27 03:49] tinymovingparts commented on #163
thank you, most useful. the error is when you go into the repo. so after you have installed the zip go...
1. to install from repository
2. 9 anime kodi repository
3. add on repository
4. 9 anime kodi repoistory
once that is all installed and set up the addon you keep installing should work as it has everything it needs from this step that was over looked.

[2017-11-27 03:54] miasmaejuices commented on #163
One of the addons had issues installing.  I seem to recall having a similar issue on my RasPI.  If I remember correctly, it was the URLResolver.

The latest version is available here:

- https://github.com/tvaddonsco/script.module.urlresolver

or here

- https://github.com/kodil/kodil/tree/master/repo/script.module.urlresolver

[2017-11-27 03:55] DjDarkAssassin commented on #163
I went on 9anime kodi repoistory, and the only options I had was to update, unistall, and disable. It said enabled so I thought I try to reinstall the addon again, it failed.

[2017-11-27 03:55] DjDarkAssassin commented on #163
Ima try to use the links from miasmaejuices to see if those work.

[2017-11-27 03:57] tinymovingparts commented on #163
That would probably be best. I don't have a Pi so I can't really get hands on or know any of the exclusive issues such as the one @miasmaejuices mentioned. The best I can do is guess fix along side you.

[2017-11-28 16:10] #150 closed

[2017-12-01 00:03] miasmaejuices commented on #162
This seems to be an old issue related to the iOS/Mac and Linux builds of Kodi.

https://trac.kodi.tv/ticket/12098

Because it was never affecting enough people, it was never followed up.  The bug report is closed for now.  You may wish to re-open it if you like.

Perhaps @DxCx can shed some more light on it.

[2017-12-03 12:37] musicskypirate opened #166 "Amazon Fire / Kodi 9anime addon Autoplay every episode"
Currently running the latest builds of Krypton, Supreme Builds Titanium and 9anime but it doesn't autoplay to the next episode nor can I find any options to Queue each episode.

Unsure whether this is already embedded somewhere to do it but I cannot find any option to continuously play a season of anime. The episode just simply ends and I have to manually select the next one. This is from using th

[2017-12-03 21:35] miasmaejuices commented on #166
@musicskypirate - Im pretty certain that this feature is not currently available.

I've added the 'enhancement' label, as it is a function that will need too be added.

@DxCx will have a look and let you know either way.

If you're able to code, you can contribute your own fix for it :)

[2017-12-04 17:59] icpryde opened #167 "No listings are showing?"
I downloaded the latest version and also cleared the cache and when I click on “latest sub” or “popular sub” or any category for that matter the lists show up empty?

[2017-12-04 18:36] XxkingkrowxX commented on #167
I just looked on the 9anime site and their servers are down for maintenance

[2017-12-04 18:52] icpryde commented on #167
Ya just noticed that, damn it’s been an hour oh well:(

[2017-12-04 20:24] JoshToshiro commented on #167
I was about comment on the same issue until I saw this .

[2017-12-05 04:56] JoshToshiro commented on #167
The listings are back up, but I don’t see Server G2 or Server G3 like I was before the listings weren’t showing up.

[2017-12-05 05:00] JoshToshiro opened #168 "Server G2 and Server G3 Not Showing as Options to Play Episode From"
Before the listings went down, I was able to use both servers and play episodes off each easily. After the maintenance though, I don’t see any of the servers. I’ve tried to see if they appear when I try to watch different animes and different episodes but they’re not available. Are those servers gone ?

[2017-12-05 07:09] miasmaejuices commented on #168
Servers G1; G2; and G3 are no longer available via 9anime.

Looks like they scrapped them, and replaced them with G4.

I'm working on a patch for the plugin now.

[2017-12-05 07:10] miasmaejuices commented on #167
This may be related to #168

Working on a patch now.

[2017-12-05 07:11] miasmaejuices commented on #163
@DjDarkAssassin - This has been sitting open for a while.  I'll close it down for now, we can re open or start a new bug if the issue arises again.

[2017-12-05 07:11] #163 closed

[2017-12-05 07:11] JoshToshiro commented on #168
Alright, cool.

[2017-12-05 07:30] miasmaejuices commented on #168
@DxCx - Pull request added to patch Servers.

[2017-12-05 19:35] DxCx commented on #167
website was down, now it's working again.

[2017-12-05 19:35] #167 closed

[2017-12-05 19:38] DxCx commented on #166
as far as i remember someone already spoke about auto play and he made it work using kodi functionally only.

I think that if you will change ordering (so latetst episode will be last) and then right click the episode you want to watch and click "Play from here" it will play this episode and auto continue to next one. (You will only need to select source if autoplay is not enabled in options)

Ple

[2017-12-05 19:42] DxCx commented on #162
well, cannot offically support jailbroken iphone or any ios device since i dont own any jailbroken one.. will be very hard to debug & fix without one..

[2017-12-05 20:15] musicskypirate commented on #166
Heya

Figured out the issue.

If you have "Automatically play video" in the Main Menu Playback Settings it won't ever ask you for "Play from here" in any app.

Turned it off, low and behold the option reappeared.

Case closed!

[2017-12-05 20:20] DxCx commented on #166
@miasmaejuices can you please update the wiki to reflect this issue?
I'll reopen the issue and you will close it when it's in the wiki.

[2017-12-05 23:29] miasmaejuices commented on #166
No problems @DxCx - I'll do that tonight.

[2017-12-06 06:58] #168 closed

[2017-12-28 22:33] mynameisru opened #171 ""Couldn't find eliable sources" error"
Getting this error on all videos. Just installed from zip via the cypher-media repo on a Raspberry Pi 3. Any suggestions?

[2017-12-28 23:14] mynameisru commented on #171
Fixed. Downloaded the zip from https://github.com/DxCx/plugin.video.9anime/wiki/Standard-Installation to a flash drive and installed it from there and it works fine now. Thanks for this awesome program.

[2017-12-28 23:15] #171 closed

[2018-01-01 08:36] DxCx commented on #166
yo @miasmaejuices did you update it ? can we close this?

[2018-01-02 18:17] Royster-77 opened #172 "No shows, only .. showing under any menu"
I've tried from my phone and on my fire TV stick, checked shortcuts to shows I've put in favourites, tried a search, tried popular and recent dubs and subs but can't find anything listed. On krypton 17.6 and 9anime plugin 0.0.26. the site seems to be running fine

[2018-01-02 19:58] tinymovingparts commented on #172
It looks like the site has had a redesign. The new way the site runs is probably what is effecting the addon from pulling the information it needs to get the video links and page directories. Until DxCx or others can find a work around the new site, the add on is pretty much broken.

[2018-01-02 21:22] Royster-77 commented on #172
At least there's a browser for fire TV now so I can watch videos direct on the site

[2018-01-02 21:23] tinymovingparts commented on #172
Which browser did you use? I tried Firefox and it didn’t work.

[2018-01-02 22:20] Royster-77 commented on #172
Using silk as you can ignore the popups, works fine

[2018-01-03 01:27] tinymovingparts commented on #172
It’ll have to do till the add on gets back up and running. Everything works on silk but I think the side adds slow down loading the 1080 videos for me.

[2018-01-03 17:17] rahafuf commented on #14
Seems like the add on is showing blank again. Any idea when it might be fixed?

[2018-01-03 23:37] DxCx commented on #14
Well, thats not domain change, next domain change ill just add option to
change url..
However they did reconsturct the site so ill need to rebuild some parts to
make it work again..
Probably over the weekend ill release a new version

On Wed, 3 Jan 2018 at 19:17 rahafuf <notifications@github.com> wrote:

[2018-01-04 08:09] DxCx commented on #172
the site was reconstructed so ill need to rebuild some parts to
make it work again..
Probably over the weekend ill release a new version

[2018-01-04 08:11] DxCx commented on #162
Closed due to inactivity

[2018-01-04 08:11] #162 closed

[2018-01-04 12:52] Dranzera commented on #172
I have the samw issue in Kodi I can see my favorites but when I click on them it comes up empty. I can watch it on the PS4 website though.

[2018-01-04 15:48] kaleo19 commented on #22
9anime isn’t working it won’t show a list or anything just the to dots

[2018-01-04 16:29] tinymovingparts commented on #22
There was some site restructure. DxCx will be looking into this when he gets the chance.

[2018-01-05 01:10] miasmaejuices commented on #166
Sorry, been away over Xmas/New Year.  Will do this ASAP.  Just catching up on work.

[2018-01-05 03:26] EasyFireTV commented on #172
DxCx Awesome! Looking forward to it, and  Thank you for your great add on!

[2018-01-05 09:02] DxCx commented on #166
No problem at all, thanks :)
Just wanted to make sure this will not just gone
On Fri, 5 Jan 2018 at 3:10 Miasma <notifications@github.com> wrote:

[2018-01-05 18:06] #172 closed

[2018-01-05 18:15] DxCx commented on #172
version 0.0.27 just released, enjoy. =)

[2018-01-05 21:24] Bitcross opened #175 "Video add-ons folder empty"
Trying to install the add-on and the repo installs just fine, but the video add-on folder in the repo is empty.

[2018-01-05 21:33] DxCx commented on #175
Which version are you getting?
On Fri, 5 Jan 2018 at 23:24 Chris <notifications@github.com> wrote:

[2018-01-05 21:35] Bitcross commented on #175
0.0.3 for the repo, that's what the instructions show for firestick

[2018-01-05 21:54] Dranzera commented on #172
Thanks so much it works happy new year ??.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hagai Cohen <notifications@github.com>
Sent: Friday, January 5, 2018 1:15:06 PM
To: DxCx/plugin.video.9anime
Cc: Dranzera; Comment
Subject: Re: [DxCx/plugin.video.9anime] No shows, only .. showing under any menu (#172)

version 0.0.27 just released, enjoy. =)

—
You ar

[2018-01-05 22:12] tinymovingparts commented on #175
I’ll check this out in a bit I just used the repo on a fire stick Wednesday and it all worked fine.

[2018-01-05 22:21] Royster-77 commented on #172
Awesome, thanks so much

[2018-01-05 22:50] tinymovingparts commented on #175
Video add on was in video folder

[2018-01-05 23:18] AFriendlyEmo commented on #175
the Current repo is reading 0.0.3 but the add on still reads at 0.26 not 27

[2018-01-06 00:15] tinymovingparts commented on #175
Right click to manual update the repo this will update the video add on if auto update hasn’t already

[2018-01-06 00:23] EasyFireTV commented on #172
Awesome thank you! Can't wait to check it out when I get home

[2018-01-06 03:10] ThienJP commented on #175
yes had to update repo as well. after that 9anime auto updated itself.
but still not working for me. error upon scannin mirrors.

[2018-01-06 07:26] ypawar159 opened #176 "Download Feature"
Hi Everyone,
Previously when 9anime G and F servers were available I could stream the videos fine.
But now for sometime these are unavailable and the File Sharing servers like RapidVideo doesn't stream well on my existing ISP network.
So if there could be an option to download the episode or entire series (few more flexibility options here) it would be great.
I can help in the coding and testing a

[2018-01-06 16:01] W94545 opened #177 "9anime 0.0.27 add-on for Kodi on Firestick"
Heard 9anime had a update recently. I tried manually updating it but still defaults 0.0.26 version. Is there any way I could acquire the new 0.0.27 version on my firestick?

[2018-01-06 17:58] DxCx commented on #177
Well kodi has cacheing on repos, and im not sure how much time it takes to
refresh it, repo has versiob 0.0.27 already, you can try manually update
the repo to get the update..
On Sat, 6 Jan 2018 at 18:01 W94545 <notifications@github.com> wrote:

[2018-01-06 21:04] geedydog commented on #172
Do you have a method of getting it onto the Xbox one?

[2018-01-07 05:00] W94545 commented on #177
Sorry for late reply. Just got home and refreshed repo and everything works. Thanks!

[2018-01-07 05:00] #177 closed

[2018-01-07 07:00] DxCx commented on #172
i don't own an xbox one so i cannot support that, sorry.
if someone has xbox one and willing to provide help, please do and we will add it to wiki

[2018-01-07 07:04] DxCx commented on #175
hey @ThienJP, is that version 0.0.27?

[2018-01-07 07:06] DxCx commented on #176
hey @ypawar159 unfortunately i don't have the capacity to develop new features at the moment,
if someone is willing to open a PR adding a support for this feature it will be gladly accepted..

[2018-01-07 11:23] ypawar159 commented on #176
Hi @DxCx ,
I have studied this plugin and some Kodi addon development tutorials.
Now I am understanding it a bit.
So will definitely do some progress on this and  let you know.

[2018-01-07 14:10] ThienJP commented on #175
@DxCx hey there, yes it is.

[2018-01-07 22:47] agrusa927 commented on #175
having same issue just downloaded today says version 0.0.1

[2018-01-07 22:49] tinymovingparts commented on #175
You’ll have to manual update the repo. The current version is 0.0.3. If your using firestick auto update usually happens the day after you download.

[2018-01-07 22:57] agrusa927 commented on #175
i am using an android box,  only gives me the option of 1.0.2 nothing newer

[2018-01-07 23:01] tinymovingparts commented on #175
There isn’t a version 1.0.2?
What page did you download the repo from? And are you using a current version of kodi( 17.1-17.6)

[2018-01-07 23:08] agrusa927 commented on #175
I downloaded it from Cypher,   I am running Kodi 17.6

[2018-01-07 23:12] tinymovingparts commented on #175
Cypher is a duplicate/ripoff of this add on please refer to the bottom of the readme page. It’s best you uninstall that repo and proceed with the instructions for what ever platform you are using under the readme page.

[2018-01-07 23:26] agrusa927 commented on #175
I did not realize that I have deleted it and trying to download from github but it only comes up blank  or..

[2018-01-07 23:31] tinymovingparts commented on #175
Ok after uninstalling the cypher repo Follow the instructions for Android box. The link is found on the readme page. Once the page is opened in es file explorer use the standard installation page “here” link found on the read me page to download the repo.

[2018-01-07 23:37] agrusa927 commented on #175
that is what I am attempting to do when I choose install from zip file it opens the window with no files to choose from
![pzut9485 1](https://user-images.githubusercontent.com/35203417/34655565-97e0694c-f403-11e7-883a-0b37b63082b2.JPG)

[2018-01-07 23:42] tinymovingparts commented on #175
Would it be possible for you to write out what your doing step by step? This would allow me to get the best idea of where things are going wrong.

[2018-01-07 23:56] agrusa927 commented on #175
I am running Supremebuilds Titanium version 3.07    Kodi 17.6 on a generic Android Box

under Tab FILE MANAGER: I go to "ADD SOURCE"
that brings up a window I type in the Path https://github.com/dxcx/plugin.video.9anime
I Leave the "NAME" as it is autopopulated as " PLUGIN.VIDEO.9ANIME"
I then click "OK"
I then back out to the "HOME SCREEN" and Click on "SETTINGS"
this brings up the "SETTINGS WIND

[2018-01-07 23:59] tinymovingparts commented on #175
Your main issue is that you are not following any of the instructions. Please follow the instructions found on the readme from the readme page under android box instructions. You do not use file manager at all for this plugin. It’s important that you use es file manger from play store then downloads the repo onto your device.

[2018-01-08 03:19] agrusa927 commented on #175
still no luck, I do all of the steps until I open "dxcx"  and I get a blank  window, Nothing to open or execute on, I have done this three times with the same results, I guess its just not meant to be

[2018-01-08 03:39] tinymovingparts commented on #175
I’m sure we can figure this out. Can you tell me what you are using as the dxcx path in es file explorer?

[2018-01-08 03:47] agrusa927 commented on #175
https;//github.com/dxcx/plugin.video.9anime

[2018-01-08 03:48] agrusa927 commented on #175
I truly appreciate your time and patience with me in helping on this matter

[2018-01-08 03:49] tinymovingparts commented on #175
Your using ;
When it should be :

https://github.com/DxCx/plugin.video.9anime

[2018-01-08 03:51] tinymovingparts commented on #175
Try that out and let me know how it goes. It will take you to the home page from there go to readme, then standard install instructions then click the here link the repo will download once downloaded exit out of es file explorer and follow the step when your in kodi

[2018-01-08 03:59] tinymovingparts commented on #175
@DxCx  or @miasmaejuices
now that instructions are in the wiki can we please make a slight change in the android box instructions?
In the install on Android box under requirements section now that wiki pages are implmented the path for es file explorer should be " https://github.com/DxCx/plugin.video.9anime/wiki/Standard-Installation "

there for can it be change to say...

Requirements:
ES File E

[2018-01-12 11:20] DxCx commented on #175
@miasmaejuices can you please take care of wiki update & close this issue after?

[2018-01-13 11:01] GuiltyCrowDx opened #178 "[REQ] Adding a switch to change viewtype "globally""
If I open the video-add-on and go for example into the "recent subbed"-folder the dafault viewtype is list. Maybe someone can add a switch in the configuration so we can change the default viewtype into wall or infowall and so on. I know there is a way to change the viewtype for each page but for an overall better experience this would be very nice.

[2018-01-14 06:30] ypawar159 commented on #178
I would also like to know how to do this in code, need the same for other addon I am working on.

[2018-01-14 06:38] ypawar159 commented on #176
Hi  @DxCx,
I have coded another sample addon just to know the kodi environment.
For download feature I have evaluated few downlaod managers as follows:
1. Simple Downloader for xbmc plugins : This is a script addon for kodi. Works fine but it's progress bar is always on top and don't have any control features.
2. pyLoad : Complete python way. It has api and web interface, but it's not easy to use.

[2018-01-14 06:40] miasmaejuices commented on #166
@DxCx - Please forgive my absence.  I took on a 3rd job a little while after Xmas, and have not been able to make it back to continue maintenance of the Wiki.

I would love to, but bills have to be paid, family has to be looked after.

If someone else could help with this, I would be forever grateful.  I'll come back and help the moment I have more free time.

[2018-01-16 07:48] DxCx commented on #176
@ypawar159 - i think the solution should be within kodi to make thinks more simple, if this is not possible we can just create another repo for the downloader that uses this repo as submodule to always be able using the latest NineAnime browser

[2018-01-16 07:50] DxCx commented on #178
Ive researched this a year or two back,
What ive found back then is thats a kodi selection and nothing i can really change in code,
If someone can provide more info about this ill be glad

[2018-01-17 14:34] player7000000 opened #179 "9Anime, No Shows!!!"
It started Yesterday 1/16/18, rapid video was not loading anymore, but when I went to sleep it started to work again. When I woke up today 1/17/18 , I tried to play an anime and nothing popped up on the episode list. I went to the Recent SUBS and DUBS no show popped up. I tried over and over again, but no shows! I think 9anime went under another redesign and it needs a new path to the servers? Ple

[2018-01-17 14:47] KaSp3r1 commented on #179
Yea same here it suxs. Cause a lot of the anime sites have been shut down on kodi and I finally found this one a few days ago and was happy that it worked. Now it's down too. I hope it doesn't stay down.

[2018-01-17 14:53] KaSp3r1 commented on #179
Actually sorry player I just checked and it's back up and running. Maybe it was just down for a while give it a check now.

[2018-01-17 14:56] player7000000 commented on #179
Just started running again. Maybe it was just down?!? I'm going to leave it open for DxCx to see the issue, if it was just down the cool but not sure if it might have other problems too.

[2018-01-18 14:24] Alteridin opened #180 "9Anime on iOS"
So, I can download the zip file just fine. But on Kodi for iOS there is no way to find it. Am I missing another way to do this? I will say my iPad is not jailbroken. I have developer access so I can use the app without that problem. Is there a link to use through Kodi that will allow me to install the zip that way?

[2018-01-19 02:47] SwagOtaku commented on #84
@DxCx I've coded into 9anime, which now displays the plot of the anime extracted directly from 9anime. Where should I upload the lines I added so you can review them?

[2018-01-19 09:10] L2501 commented on #178
you can set it like this
[code]

but the problem is that every skin has their own viewtype ids, for example viewtype 500 can mean different views on other skins

[2018-01-23 07:32] DxCx commented on #179
Yep, probably was down.. it happens from time to time..
Since there are no logs i also cannot verify but jext time you can just open browser for 9anime website and check if its up

[2018-01-23 07:32] #179 closed

[2018-01-23 08:05] DxCx commented on #180
Never tried it on jailbroken iOS device since i dont own one.. cant help much but will leave it open for others to share thier wisdom

[2018-01-23 23:24] hax0122 opened #182 "9anime not working?"
Checked the site and it does load, albeit it is rather slow. But on Kodi it gets as far as the main menu but finds nothing when you search or even just view popular shows.

[2018-01-23 23:31] JaeFr0st commented on #182
I am having the same issue. I was just watching a show and after it was done, I went to watch another and all I keep getting is Anime9 Error check logs. I check logs nothing is showing in my logs though.

[2018-01-23 23:51] player7000000 commented on #182
This happens every once in a while I posted the same issue a while ago it gets fixed on and off. I don't have any anime's right now either :(

[2018-01-24 00:00] JaeFr0st commented on #182
This sucks because I was really getting into this anime that looks hella good. Hopefully it will be fixed.

[2018-01-24 00:04] player7000000 commented on #182
I'm trying to catch up on Dragon Ball Super

[2018-01-24 01:05] JaeFr0st commented on #182
Nice. I caught up this past Sunday. Just an update. The add on is not the issue. It’s the server itself. I was able to get on the home page of 9Anime but when I searched for a show it said Error 502 Bad Gateway. Now you can’t access the site at all. Hopefully it will be fixed. Nothing DxCx can do at this point. It has to be fixed by 9Anime themselves.

[2018-01-24 01:07] JaeFr0st commented on #182
So you might want to close this issue out and actually wait for 9Anime to fix it on their end. Once it’s fixed and if there’s still an issue with the add on, then resubmit issue.

[2018-01-24 01:37] player7000000 commented on #182
Nice, thanks for the heads up!

[2018-01-24 01:58] RillonDodgers commented on #182
Just to confirm what @JaeFr0st was saying, I went to the 9anime website and it says that they're down for maintenance. I was thinking maybe the ip changed again.

[2018-01-24 04:37] player7000000 commented on #182
Cool cool! I've been using crunchyroll for now.... Hate the ads and quality sometime but it works. I suggest GoGo Anime for anyone using the silk browser on Firestick. Also just the Crunchy roll app

[2018-01-24 04:38] hax0122 commented on #182
Guess they were just in the process of shitting the bed when I checked originally. As long as it's the server that's screwed up, no point in keeping this issue open for now. Thanks all!

[2018-01-24 04:38] #182 closed

[2018-01-24 04:45] JaeFr0st commented on #182
Thanks @player7000000. I’ll definitely give those a try. Personally I wish DxCx could make Watch Cartoon Online work. I like that so much because you just click and it plays right away. No need to select anything. Well take care everyone.

[2018-01-27 07:52] ypawar159 commented on #176
@DxCx,
I have got some success in adding the download option in another plugin I am working on.
I am still new to development overall , so I didn't get how the router in your code works, so I coded mine with help of some basic tutorials with mode parameter.
So following are the main snippets I used to add download functionality:
For every episode link displayed added following:
[code]
And in Downl

[2018-01-27 07:53] ypawar159 commented on #176
Closed by mistake.
Reopened.

[2018-01-27 08:01] ypawar159 commented on #176
I think the download manager should be loosely coupled with the Kodi.
As not all Kodi instances will have enough storage builtin (SBCs like RPI).
Also managing the download manger from kodi interface isn't going to be fun I guess.
Ideas are welcome though.

[2018-01-30 16:35] ypawar159 commented on #176
@DxCx,
Any hints?

[2018-01-31 18:16] ypawar159 commented on #176
@DxCx
Got it working the hard way!
Have to select the episode and then after fetching sources option to download them.
![image](https://user-images.githubusercontent.com/12548210/35639601-bab31e16-06e0-11e8-9c6e-2162aa55894d.png)

![image](https://user-images.githubusercontent.com/12548210/35639570-911ff650-06e0-11e8-84d6-438b945f56d8.png)

![image](https://user-images.githubusercontent.com/125482

[2018-02-01 05:53] DxCx commented on #176
Hey @ypawar159 sorry for late response i had hell of a week..
That looks really awsome
If you will open a PR i can give you some hints :)

[2018-02-01 08:59] ypawar159 commented on #84
@DxCx ,
We can add this info as you mentioned.
But in your code your are using regular expressions to find the required tags from html repsonse. I am familiar with beautiful soup4 for this kind of stuff.
And then setting info about Anime, you are using control.draw_items to display anime list and as well as for the list of sources for selected episodes. So even if we capture the anime info 9anime

[2018-02-01 14:10] KaSp3r1 opened #183 "Is 9anime down"
Is the site down again on firestick I been trying to access it since last night and it shows no files when selecting a anime or says a error. Please let me know..

[2018-02-01 18:44] KaSp3r1 commented on #183
Yessssssss it's back up.. thank you.

[2018-02-02 02:35] disconsented opened #184 "TLD option"
With how often the site rotates through TLD's being able to set it ourselves would really help in minimising the downtime.

[2018-02-02 23:13] gitfamhub opened #185 "search history"
Kind of tiring typing in the name of an anime too often, how about a search history? Would be much appreciated.

Thanks

[2018-02-03 08:26] DxCx commented on #84
Ive already explored the possibilty of using existinf scrappers
This will work only if we are able to export a selected show locally (means you create a link file for each episode, and be able to create one for each one that releases later on)
That was tons of work when i saw it.

Also, if we get back to options 1, once show is selected you can always send one more API request to get more info and

[2018-02-03 08:26] DxCx commented on #183
Well, i had nothing to do with that, but have fun :)

[2018-02-03 08:26] #183 closed

[2018-02-03 08:28] DxCx commented on #185
Do you have a link for a repo of an addon who does that? I wonder if xbmc have a dedicated api for that or we will have to invent something

[2018-02-03 08:28] DxCx commented on #184
TLD?

[2018-02-03 08:29] DxCx commented on #178
So that will have to be a settings of (numerical) default viewtype i guess

[2018-02-03 08:52] disconsented commented on #184
Being able to swap through 9anime.ch/.is etc

[2018-02-03 18:42] Sol-Illadan opened #186 "Integration with Metalliq"
Hi,

I want to add anime series to Kodi library using Metallic (or normal). How can I do so ?

[2018-02-03 19:50] gitfamhub commented on #185
@DxCx - Yeah, there're a few:
https://github.com/nixgates/Incursion
https://github.com/jdf76/plugin.video.youtube

ty

[2018-02-04 17:32] ypawar159 commented on #176
Hi @DxCx ,
Opened a PR.
Please suggest improvements as it's my first time contribution to open source community.
I ain't professional programmer, I do it just because I can with little knowledge I have gained so far.

[2018-02-05 06:29] DxCx commented on #186
hey @Sol-Illadan

this is first time i'm hearing about MetalliQ but just found a quick video that shows what it is.
looks like MetalliQ needs to add support for 9anime addon and not the opposite,
if any changes here needed to support it i don't mind evaluate and edit,
but looks like initial support needs to come from MetalliQ side.

[2018-02-05 06:30] DxCx commented on #184
yeah, that's something i wanted to add (Option to replace url under settings)
but didn't had a time to get into.
probably next time domain is broken i'll do that (if anyone else didn't contribute it until then)

[2018-02-05 06:31] DxCx commented on #176
hey @ypawar159 thanks, just reviewed it 👍

[2018-02-05 07:21] daniel-ntl opened #188 "Request fix for watchcartoononline addon"
hello sir, fyi the watchcartoononline addon is dead since des 2017, and nobody would fix the play error, if you could take alook and fix this addon, it would be great, because before it works in jarvis 16.1, thx again man.

[2018-02-09 06:19] andystyle09 opened #189 "9anime Down"
Good evening all 9anime on firestick seems to be down unable to find eligible sources. Anyone has a fix? Thank you

[2018-02-09 09:38] kiryu77 commented on #189
It's happen to me too. I'm unable to load a single video.

[2018-02-09 14:30] player7000000 commented on #189
Same here. It usually fixes by itself. It should be fixed in a couple of hours. The 9anime website is working so it's not the websites fault

[2018-02-09 15:32] JaeFr0st commented on #189
I was getting into Prison School when this happened lol. player7000000 is correct. 9anime from time to time has this issue and everything goes back to normal after some time. Being that the add-on is not the issue you can close this issue out.

[2018-02-09 15:42] JaeFr0st commented on #189
I had to delete my comment from earlier. After doing some research it seems like we will have to wait until DxCx makes an update. This is an duplicate issue of #151.

[2018-02-09 19:21] JaeFr0st commented on #188
I would love to see this add-on brought back to life. This add-on is amazing. I love the fact there are no sources to pick from. You just hit play and it plays right away. I really would like DxCx to take a look at this and perhaps make this work. 9anime is amazing but there are too many frequent issues with it lately.

[2018-02-09 20:04] G1-Primus commented on #189
Thank god I found this post I have spent like 5 hours trying to fix this. Does it keep saying "couldn't find eligible sources" for everyone else too?

[2018-02-09 20:16] JaeFr0st commented on #189
Yes! Everyone will be seeing the same error. It has to be fixed by DxCx. Hopefully he will have an update put out soon.

[2018-02-09 20:21] player7000000 commented on #189
Hopefully it's out before Monday. I need my Dragon Ball Super! Haha

[2018-02-09 20:24] player7000000 commented on #188
Watch Cartoons is amazing and I would also love to see it back. I would use it for anime and regular cartoons!

[2018-02-09 20:41] JaeFr0st commented on #188
Agreed player7000000

[2018-02-10 03:05] JaeFr0st commented on #189
Haha! Same here.

[2018-02-10 03:21] JaeFr0st commented on #180
Try using iFunBox or iFile. iFile if you’re jailbroken or iFunBox if you’re not. Those will give you riot access to your phone and you can find the zip file. Not sure if that’s what you’re looking for.

[2018-02-10 03:22] JaeFr0st commented on #180
Try using iFunBox or iFile. iFile if you’re jailbroken or iFunBox if you’re not. Those will give you root access to your phone and you can find the zip file. Not sure if that’s what you’re looking for.

[2018-02-10 05:00] JaeFr0st commented on #127
How much money do you need? I’m willing to put up the money if you can also make watchcartoononline work as well since dandymedia is no longer around.

[2018-02-10 05:01] JaeFr0st commented on #127
How much money do you need to get this started?

[2018-02-10 05:16] JaeFr0st commented on #188
I’m willing to donate some money to DxCx to make this happen. You need a PayPal though. Especially since a lot of people don’t have bitcoins or ethereum. Also some banks are now blocking purchases bitcoins and any other digital currency. My bank won’t allow me to buy any digital currency.

[2018-02-10 06:13] JoshToshiro commented on #189
I was having the same issue. I’m just trying to binge watch fairy tail and this morning I had no luck . Hope it gets fixed quick.

[2018-02-10 15:01] pjcanales commented on #189
Don't worry everyone. soon as he's see all the comment on how many of us uses his add-on is he'll be sure to fix it as soon as possible.

[2018-02-10 15:20] Prometheusx-git commented on #189
9anime has changed their api.
Now they use ts from data ts, extra para "_", episode-id and server-id again.

[2018-02-10 18:04] pjcanales commented on #189
Ok what's the difference between this add-on and your unofficial 9anime addon?

[2018-02-10 20:01] here4thecomments commented on #189
So is there an update it a new add-on we need to get back on 9anime? I'm like a junky w/o heroin here!!! Lol but seriously I need it back in my life asap!!!!

[2018-02-10 20:01] here4thecomments commented on #189
So is there an update or a new add-on we need to get back on 9anime? I'm like a junky w/o heroin here!!! Lol but seriously I need it back in my life asap!!!!

[2018-02-10 20:07] yogendrasinghx commented on #189
What a draaagg!!!

[2018-02-10 20:20] DxCx commented on #189
Hey all, rough week sry to keep you waiting, ill probably fix it tomorrow :)

[2018-02-10 20:42] JaeFr0st commented on #189
It’s all good @DxCx. Cheers 🍻

[2018-02-10 22:41] player7000000 commented on #189
@DxCx thanks! We appreciate it but no rush. We know life happens. Wishing you the best! 😬

[2018-02-10 22:48] JoshToshiro commented on #189
@DxCx yeah don’t sweat it dude. Do what you need to do and take care of it when you can 👍

[2018-02-10 22:57] andystyle09 commented on #189
@DxCx  thanks for looking into it I’m just glad you saw it now I know it’s gonna be fixed eventually which I’m happy about thank you for your hard work !

[2018-02-11 04:29] here4thecomments commented on #189
@DxCx ty for the heads up!

[2018-02-11 17:49] Chup123 opened #192 "add myanimelist intergration"
Could you add the feature that we can login to myanimelist to sync my anime with that. I watch on multiple devices and this will make things so much easier

[2018-02-11 23:42] jimboooooo commented on #189
Mine is still saying the same thing. Am I suppose to update it or something?

[2018-02-12 00:16] andystyle09 commented on #189
Mine  is working perfectly fine now thank you just do a manual update if yours is not

[2018-02-12 01:12] jimboooooo commented on #189
I did @andystyle09 and nothing... it’s still just version 0.0.27. I’ll give it another try tomorrow I guess 🤷🏽‍♂️

[2018-02-12 01:14] tinymovingparts commented on #189
@jimboooooo this add on is different for its auto updates. I should update fine by tomorrow on its own if you have auto update on. But you can manual update this by updating the 9anime repository on your device

[2018-02-12 01:16] JaeFr0st commented on #189
@jimboooooo best option is to download git browser add-on for kodi. Search by git user name DxCx and it will show all of DxCx’s work. You’ll see 9anime latest update there. To be honest Git Browser is the best thing to happen to kodi. Makes it super easy to add add-ons without having to type the source and go through a lengthy process to install.

[2018-02-12 01:30] JaeFr0st commented on #189
@jimboooooo you can also wait until it updates itself tomorrow as @tinymovingparts said in his response.

[2018-02-12 01:32] jimboooooo commented on #189
@jaefr0st I’m about to look into that right now... hopefully I can finesse that... and @DxCx good job... best anime app out by FARRR 👍🏽

[2018-02-12 01:33] tinymovingparts commented on #189
@jimboooooo if youve never manual updated the repository before all you have to do is go to install from repository, find the 9anime repository, right click and select check for updates and it will update everything from there including the addon

[2018-02-12 01:39] JaeFr0st commented on #189
@jimboooooo no problem. @tinymovingparts answer is correct too.

[2018-02-12 01:43] jimboooooo commented on #189
The Git browser worked like a charm... that’s a lot bro 👍🏽🔥 @JaeFr0st

[2018-02-12 01:49] JaeFr0st commented on #189
No problem @jimboooooo. I wish everyone who made addons was on GitHub. Git Browser is truly amazing and so simple. I hate having to go through a lot of steps such as add a source, install from zip and then install from repository. With Git Browser you just find their GitHub name and just click what ever zip you want to install and BAM! You’re good to go.

[2018-02-12 01:51] jimboooooo commented on #189
Thanks*

[2018-02-12 01:53] jimboooooo commented on #189
Seriously dude.... git browser is like the best kept secret

[2018-02-12 04:37] DxCx commented on #189
Well, yeah, fix was released on version 0.0.28, auto update should update it :)

[2018-02-12 04:48] pjcanales opened #193 "Adaption from urlresolver to resolveurl"
Hello was wondering if your add-on had been change from how it gathers link since last week about all add-ons has switch from  urlresolver to resolveurl.

[2018-02-12 04:57] pjcanales commented on #193
Ok i just tested it from authorizing first the new resolveurl and it didn't work with your addon. However when I tried the urlresolver it worked. Can you please take the appropriate actions when you have time for it to work with resolveurl  from jsergio

[2018-02-12 04:57] JoshToshiro commented on #189
@JaeFr0st how do I get the indigo tool or where do I find it? 😅

[2018-02-12 04:58] pjcanales commented on #193
Here link to his github for more information.
https://github.com/jsergio123

[2018-02-12 04:59] JoshToshiro commented on #189
@JaeFr0st so I can download the Git browser

[2018-02-12 05:03] JoshToshiro commented on #189
@DxCx you are the GOAT 🔥, thanks

[2018-02-12 05:04] JaeFr0st commented on #189
@JoshToshiro  just follow this guide 😀http://whyingo.org/how-to-install-indigo-add-on-wizard-kodi-17-1-krypton/

[2018-02-12 05:08] JoshToshiro commented on #189
@JaeFr0st thanks a bunch bro 😁 about to do that right now

[2018-02-12 05:09] JaeFr0st commented on #189
@JoshToshiro follow this guide 😀 https://www.tvaddons.co/fusion-kodi-krypton/ disregard previous message if you still some how manage to see it still. It’s been deleted by me as it was inaccurate.

[2018-02-12 05:10] JoshToshiro commented on #189
@JaeFr0st oh ok, no problem, thanks again.

[2018-02-12 05:11] JaeFr0st commented on #189
@JoshToshiro  actually give me a few. I’m going to have to re-edit that comment. Don’t follow that guide.

[2018-02-12 05:12] JoshToshiro commented on #189
@JaeFr0st lol alright, take your time.

[2018-02-12 05:15] JaeFr0st commented on #189
Okay commmet has been updated. If you have any issues just let me know

[2018-02-12 05:17] JoshToshiro commented on #189
@JaeFr0st , ok, I appreciate the tip 👍

[2018-02-12 07:33] zenakuadevent opened #194 "two issue!!!"
the first one is that i updated to 0.0.28 on my fire stick tv
and some video do load, while some say couldn't find the source.

the second issue is that my cousin fire stick TV doesn't give update to the newest version it always says .27

[2018-02-12 07:50] DxCx commented on #194
Hey, please provide a video that does not load so i can test it.

Regarding your cousin, kodi had repo cacheig, waiting will timeout eventually and he will get the update, or he can force refresh the repo to get 0.0.28 update

[2018-02-12 10:59] markyirish40 commented on #194
When loading video says cant find sources has it been fixed

[2018-02-12 11:00] markyirish40 commented on #194
I unstall 9anime and refresh repo

[2018-02-12 12:19] pjcanales commented on #194
Markyirish40 are you a real debrid subscriber?

[2018-02-12 12:24] pjcanales commented on #193
This is an issue that may be reported alot here since all the popular add-ons has moved over to it. Hopefully you are able to read this and it doesn't get buried under other complaints that are basically the same issue repeated.

[2018-02-12 13:35] markyirish40 commented on #194
Yes i am

[2018-02-12 14:27] pjcanales commented on #194
Ok your having the same issue with me. Pretty sure your using the new resolveurl from jsergio instead of urlresolver from tvaddons. We are using the new link resolver but 9anime add-on hasn't been updated for new resolver. I opened the issue but if you want you can add to my open ticket issue so he see others are facing same issue as I am.

[2018-02-12 14:42] DxCx commented on #194
I am providing a good working urlresolver plugin within my repo, also, if
thats broken, only openload shouldnt work...
Did you verify your are getting version 0.0.28?
On Mon, 12 Feb 2018 at 16:27 pjcanales <notifications@github.com> wrote:

[2018-02-12 18:48] pjcanales commented on #194
I'm on version .28 and none of my links are working with resolveurl. I only use openload and now that seems to be broken with using your add-on with urlresolver. I'm guessing either everyone using the pairing method which offer free 4 hours streaming but for us who use realdebrid with the latest resolveurl it it's going to be broken. Even tvaddons says they were going to use resolveurl but nobody

[2018-02-12 19:40] tinymovingparts commented on #194
@pjcanales all the links appear to be working fine right now as far as I know. I also tend to use Rapid more then openload links. If you don't mind me asking did you download just the addon or did you dl the repo file and get the addon from there?

[2018-02-12 20:05] pjcanales commented on #194
@tinymovingparts. I downloaded the repo from github.  I'm on version .28 and my resolver is resolverurl which is the fork of urlresolver but with way more changes and improvement thanks to jsergio amazing talent.

[2018-02-12 20:39] tinymovingparts commented on #194
@pjcanales and the links are still broken? that is interesting. Have you tried the website to see if their links are in working order. I know some of the newer stuff that comes out weekly are limited right now and there are no working links outside of mycloud which dosn't seem to load. But that would be on their end not the addon's. do you have another device that you could test using urlresolver?

[2018-02-12 21:00] pjcanales commented on #194
@tinymovingparts  i think you are misunderstanding me. On the website they are working. But  the add-on  is using a different resolver than the popular one.

[2018-02-12 22:09] chrissyt29 opened #195 "Seven deadly sins revival of the commandments"
I was watching SDS revival of the commandments and episode 5 can't find any sources at all for it but all the others worked fine. Is there anything that can be done?

[2018-02-13 03:01] player7000000 commented on #189
Hey guys I'm still having the no sources thing for a couple of animes. Like Black Clover. I can't play episode 16

[2018-02-13 03:02] player7000000 commented on #189
I'm already on the newest update

[2018-02-13 06:14] zenakuadevent commented on #194
like the new episode of seven deadly sin episode 5 wont load. i know the recent one piece works but i havnt tried other ones

[2018-02-13 07:30] DxCx commented on #193
hey @pjcanales let's start over,
right now, urlresolver, is used only when actually plaing openload link,
and is installed from 9anime repo itself,
so im really not sure what other addons has to do with that,
also, i don't think i understand your problem, so now, how can i help?

[2018-02-13 07:35] DxCx commented on #195
hey @chrissyt29 thanks for the report,
i'll try to give that a try over the weekend and see what i can do =)

[2018-02-13 10:30] pjcanales commented on #193
Ok other add-ons are using the popular, more updated version of resolveurl which is a fork of urlresolver which gets way more update changes. It being maintain by jsergio. So to clarify a majority of users ain't using urlresolver  but are now using "resolverurl". This could be why a majority of recent issues are being opened. Again here the site of jsergio new resolveurl github to make the necessa

[2018-02-13 12:30] pjcanales commented on #193
I ask a friend the same question about dofference and he went into more detail. Here is his reponse.  1.  resolveurl is maintained by jsergio.  2. urlresolver was not maintained at all for a while but is now maintained by tvaddons.  Some  in the community don't have a lot of confidence right now in TVA staying around given its legal position.  3.  development/maintenance of resoveurl is more activ

[2018-02-13 13:44] Antiriver13 commented on #194
Try a clean install

[2018-02-14 00:22] JaeFr0st commented on #189
@player7000000 maybe it wasn’t uploaded properly and that’s why there’s no source for it or maybe it wasn’t uploaded at all. Not sure. Also just a heads up and some info I wanted to share but I saw a post that 9Anime posted on twitter and reddit but both have been removed by reddit and Twitter due to a copy right claim. Rumor is that 9Anime probably will be shut down due to some copyright claim. N

[2018-02-14 05:50] zenakuadevent commented on #194
@Antiriver13 whats a clean install?

[2018-02-14 15:15] Antiriver13 commented on #194
Uninstall the addon and install the fresh updated version

[2018-02-14 23:19] noczema opened #196 "Rapidvideo"
Rapid video doesn't seem to be working. Usually it gives me choices on quality but hasn't the past few days I just get auto 1080p. I've checked my settings and they are as the should be.

[2018-02-15 12:28] ratchetchan opened #197 "No sources loading"
Tried the addon today and nothing plays. Search works perfectly, but not one episode even returns sources, not even Dragon Ball Super, the most popular series on there right now. What's going on? I've reinstalled Kodi, and uninstalled and reinstalled the addon.

[2018-02-16 05:53] cavebeast86 commented on #189
Mine updated but same issue works on pc and pi but not on fire stick.  Also on pc I've been getting no host found on a lot of popular stuff for example anything past so 4 on black clover

[2018-02-16 06:01] tinymovingparts commented on #189
The addon is working fine with the 0.0.28 update. Unfortunately the issue with not finding a host has to do with the actual host site and not with the addon itself. The issues are commonly recent and repetitive with the dubs of newer shows probably due to getting pulled from the host once put up.

[2018-02-16 06:11] cavebeast86 commented on #189
I've been having the issue for about 2 weeks on my android devices like I said pi and pc still work fine.

[2018-02-16 06:13] tinymovingparts commented on #189
your comment said "Also on pc I've been getting no host found on a lot of popular stuff for example anything past so 4 on black clover" can newer dubbed stuff like black clover ep 5 work on your pc through the addon?

[2018-02-16 18:53] cavebeast86 commented on #189
I did still the same I uninstall the add-on and repo and make sure to update both on reinstall it works but won't go past the main directory so it won't let me actually see any content just the new and popular folders

[2018-02-17 19:03] chrissyt29 commented on #195
I'm getting the same problem with everything I try to watch now just keep getting message openload authorization. Do you have a solution for this?

[2018-02-17 20:17] mattjoker3 opened #198 "The sources are not working"
Ok so i when i get to the show I'm about to watch i click it and it gives me only openload and it says i have to pair it with my device, it doesnt even give me the option to use rapidvideo or mycloud, but when i took out openload as a source choice it says i have no eligible sources at all

[2018-02-17 20:55] ricecooder opened #199 "Is it down? .28"
Is the newest version 0.0.28 down already?

[2018-02-17 22:28] chrissyt29 commented on #198
Same thing is happening with me

[2018-02-18 08:30] DxCx commented on #199
yes, 0.0.29 was released. =)

[2018-02-18 08:30] #199 closed

[2018-02-18 08:30] DxCx commented on #198
please try version 0.0.29 and report :)

[2018-02-18 08:32] DxCx commented on #195
can you retry using version 0.0.29?

[2018-02-18 08:33] DxCx commented on #196
fixed.

[2018-02-18 08:33] #196 closed

[2018-02-18 08:34] chrissyt29 commented on #195
Yeah I'll give it a try when I finish work :)

[2018-02-18 08:39] DxCx commented on #193
well, as long as urlresolver works as it is now, i don't see any real reason to replace it..
if it will stop working, or i'll see a real benfit from moveing from it, i'll do it.
we don't need any active maintaince as it is used just for openload, and it just works.

[2018-02-18 08:39] #193 closed

[2018-02-18 15:25] LiquidR1987 commented on #198
I updated to the new version. All the source files are visible, BUT, when I select RapidVideo kodi gives the error that there are not any eligible sources. So in conclusion: it works, but it doesn't work at the same time.

[2018-02-18 17:13] chrissyt29 commented on #195
Everything is working now thanks man, best anime add-on around :)

[2018-02-18 17:19] #198 closed

[2018-02-18 17:47] ypawar159 commented on #188
Hey guys,
I would like to try to revive that addon.
Can anyone point me to it's source code?

[2018-02-18 17:49] ypawar159 commented on #197
Try different settings:
General->Display episodes as->List
When I put it to Directory I get no sources.

[2018-02-18 19:18] ypawar159 commented on #188
Guys Good News,
Just out of curiosity I got some code for that plugin from the Internet.
Guess what, I am able to get the video link with available quality as well manually.
Just need to code it in python.
May make new addon from scratch also.
Let me know what you all think.

[2018-02-18 19:50] JaeFr0st commented on #188
Holy shit I must be dreaming. I hope this is a reality. I’m stoked as hell now 😂

[2018-02-18 20:06] wienergunz commented on #194
#197 @
I've tried a fresh install, manual update to .28. I can now get the source to verify but all the sources come up with the dreaded pair message.
-

- [ ] [1. ](`

`)

[2018-02-18 20:18] wienergunz commented on #194
Got it. Nm. Thank you

[2018-02-18 20:48] DxCx commented on #198
@LiquidR1987 can you please open a different issue?
also, repeat the process with kodi log turned on, and attach kodi.log file please

[2018-02-18 20:49] DxCx commented on #194
do you have all servers enabled under settings?
it will autoplay only if there is just 1 option to choose from..

[2018-02-18 22:56] wienergunz commented on #194
All sources are turned on and auto play is turned off. Does this on every play request on every episode over multiple series.i tried Dragon ball super, fairy tail, bleach, naruto

[2018-02-19 01:29] daniel-ntl commented on #188
ypawar159, wow thats great, so could you make patch for the WCO or where i could download the zip file?

[2018-02-19 02:27] daniel-ntl commented on #188
to all here is the working WCO, works in kodi frodo and jarvis, thx to kodibear,
 https://github.com/kodibear/plugin.video.watchcartoononline,
case closed

[2018-02-19 02:27] #188 closed

[2018-02-20 15:50] JaeFr0st commented on #188
@ypawar159  how’s it going? Have you finished it yet?

[2018-02-20 19:04] ypawar159 commented on #188
@JaeFr0st,
As the issue was closed I thought there isn't any need to do so.
But I will give it a try this weekend if get enough time. Will post github link to the project here.